@use 'src/assets/css/variables' as *;
@use 'src/assets/css/partials/gaps';
@use 'src/assets/css/partials/fonts';

.background {
  width: 100%;
  height: 100%;
  background-color: #f3f9ff;
}

.container { 
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: #fff;
  padding: $gap-6;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: $gap-4;
}

.dropdown {
  @media (min-width: $screen-md) { 
    display: none;
  }
}

.filter { 
  @media (max-width: $screen-md) { 
    display: none;
  }
}

.content {
  flex: 1;
}