@use 'src/assets/css/partials/index' as *;

.menu {
  display: flex;
  align-items: center;
  flex-grow: 1;
  min-width: 0;

  .highlighted-link {
    margin-right: 32px;
    font-family: $fonts-primary;
    @include fonts-bold;
  }

  .left {
    display: none;

    @media (min-width: $breakpoints-lg + 1) {
      display: flex;
    }
  }

  .right {
    flex-grow: 1;
    min-width: 0;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-end;
  }
}
