@use 'src/assets/css/variables' as *;
@use 'src/assets/css/partials/layout';
@use 'src/assets/css/partials/gaps';
@use 'src/assets/css/partials/fonts';

.container {
  display: flex;
  flex-direction: column;
  // RTD: remove margin-bottom
  // margin-bottom: $gap-10;
  scroll-margin-top: 120px;
  scroll-snap-margin-top: 120px;
}

.index-column {
  flex-grow: 0 !important;
  flex-basis: 50px !important;
  > * {
    word-break: normal !important;
  }

  @media (max-width: $screen-sm) {
    flex-basis: 40px !important;
  }
}

.index {
  line-height: 1em;
}

.name-column {
  flex-grow: 1.3 !important;
}

.themes-column {
  @media (max-width: $screen-lg) {
    display: none !important;
  }
}

.authors-column {
  @media (max-width: $screen-lg) {
    display: none !important;
  }
}

.status-column {
  flex-grow: 0 !important;
  flex-basis: 110px !important;

  @media (max-width: $screen-sm) {
    flex-basis: 90px !important;
  }
}

.links-column {
  @media (max-width: $screen-lg) {
    display: none !important;
  }
}

.summary-column {
  flex-grow: 2 !important;

  @media (max-width: $screen-lg) {
    display: none !important;
  }
}

.expand-column {
  display: flex;
  justify-content: center;
  flex-grow: 0 !important;
  flex-basis: 80px !important;

  @media (max-width: $screen-sm) {
    flex-basis: 70px !important;
  }
}

.tag-column {
  @media (max-width: $screen-sm) {
    display: none !important;
  }
}

.tag {
  margin-right: $gap-1;
  margin-bottom: $gap-1;
  display: inline-flex;
  white-space: nowrap;

  > p {
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.label-content {
  display: flex;
  align-items: center;

  > span {
    margin-right: $gap-1;
    font-size: 1.2rem;
  }

  > p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.links {
  // RTD: smaller font-size
  // font-size: 1.5rem;
  font-size: 1rem;

  > * {
    cursor: pointer;
    // RTD: smaller gaps
    // @include gaps.responsive-gap($attribute: margin, $right: $gap-4, $min-gap: $gap-2);
    @include gaps.responsive-gap($attribute: margin, $right: $gap-2, $min-gap: $gap-1);

    &:last-child {
      margin-right: 0px;
    }

    @media (max-width: $screen-lg) {
      font-size: 2rem;
    }
  }
}
