@use 'src/assets/css/partials/index' as *;

.button,
button {
  // Sometimes the button element can be useful for semantic reasons, add "plain" class to remove default styles
  &:not(.plain) {
    @include fonts-md;
    // @include colors-white;
    font-family: $fonts-primary;
    padding: $gaps-gap-2 $gaps-gap-4;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    touch-action: manipulation;
    border-width: 2px;
    border-style: solid;

    // &:hover {
    //   @include colors-white-hover;
    // }

    &:focus,
    &:active,
    &:hover {
      outline: none;
    }

    &.squared {
      width: 48px;
      height: 48px;
      padding: 0px;
      justify-content: center;
      align-items: center;
    }

    // Sizes
    &.sm {
      @include fonts-xs;
      padding: $gaps-gap-2 $gaps-gap-3;

      &.squared {
        width: 36px;
        height: 36px;
      }
    }

    &.lg {
      @include fonts-lg;
      padding: $gaps-gap-4 $gaps-gap-5;

      @media (max-width: $breakpoints-md) {
        @include fonts-md;
      }

      &.squared {
        width: 56px;
        height: 56px;
      }
    }

    &.white {
      &:hover {
        @include colors-white-hover;
      }

      &:disabled {
        @include colors-white-disabled;
      }
    }

    &.black {
      &:hover {
        @include colors-black-hover;
      }

      &:disabled {
        @include colors-black-disabled;
      }
    }

    &.red {
      &:hover {
        @include colors-red-hover;
      }

      &:disabled {
        @include colors-red-disabled;
      }  
    }
  }

  &.disabled {
    pointer-events: none;
  }
}
