@use 'src/assets/css/partials/index' as *;
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

p {
  @include fonts-primary;
}

.font-primary {
  @include fonts-primary;
}

.font-secondary {
  @include fonts-secondary;
}

// Headers
h1,
.h1 {
  @include fonts-secondary;
  @include fonts-bold;
  font-size: $sizes-size-16 + $sizes-size-16;
  line-height: 125%;

  &.spaced {
    @include gaps-margin-bottom($gaps-gap-6, $gaps-gap-4);
  }
}

h2,
.h2 {
  @include fonts-secondary;
  @include fonts-normal;
  font-size: $sizes-size-16 + $sizes-size-2;
  line-height: 120%;

  &.spaced {
    @include gaps-margin-bottom($gaps-gap-6, $gaps-gap-4);
  }
}

h3,
.h3 {
  @include fonts-secondary;
  @include fonts-bold;
  font-size: $sizes-size-12;
  line-height: 120%;

  &.spaced {
    @include gaps-margin-bottom($gaps-gap-6, $gaps-gap-4);
  }
}

h4,
.h4 {
  @include fonts-secondary;
  @include fonts-normal;
  font-size: $sizes-size-10;
  line-height: 125%;

  &.spaced {
    @include gaps-margin-bottom($gaps-gap-6, $gaps-gap-4);
  }
}

h5,
.h5 {
  @include fonts-secondary;
  @include fonts-bold;
  font-size: $sizes-size-9;
  line-height: 150%;

  &.spaced {
    @include gaps-margin-bottom($gaps-gap-6, $gaps-gap-4);
  }
}

h6,
.h6 {
  @include fonts-secondary;
  @include fonts-bold;
  font-size: $sizes-size-8;
  line-height: 150%;

  &.spaced {
    @include gaps-margin-bottom($gaps-gap-6, $gaps-gap-4);
  }
}

// Titles
.title {
  @include fonts-title;

  &.spaced {
    @include gaps-margin-bottom($gaps-gap-6, $gaps-gap-4);
  }
}

.subtitle {
  @include fonts-subtitle;

  &.spaced {
    @include gaps-margin-bottom($gaps-gap-6, $gaps-gap-4);
  }
}

// Sizes
.font-xxs {
  @include fonts-xxs;
}

.font-xs {
  @include fonts-xs;
}

.font-sm {
  @include fonts-sm;
}

.font-md {
  @include fonts-md;
}

.font-lg {
  @include fonts-lg;
}

.font-xl {
  @include fonts-xl;
}

.font-xxl {
  @include fonts-xxl;
  // font-size: $sizes-size-16 + $sizes-size-8;
}

// Sizes
.font-xxs-fixed {
  @include fonts-xxs-fixed;
}

.font-xs-fixed {
  @include fonts-xs-fixed;
}

.font-sm-fixed {
  @include fonts-sm-fixed;
}

.font-md-fixed {
  @include fonts-md-fixed;
}

.font-lg-fixed {
  @include fonts-lg-fixed;
}

.font-xl-fixed {
  @include fonts-xl-fixed;
}

.font-xxl-fixed {
  @include fonts-xxl-fixed;
  // font-size: $sizes-size-16 + $sizes-size-8;
}

.font-massive {
  @include fonts-massive;
}

.font-massive-2 {
  @include fonts-massive-2;
}

.bold,
.text-bold {
  @include fonts-bold;
}

.semi-bold,
.text-semi-bold {
  @include fonts-semi-bold;
}

.very-bold,
.text-very-bold {
  @include fonts-very-bold;
}

.text-italic {
  font-style: italic !important;
}

.text-small {
  @include fonts-sm;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-lowercase {
  text-transform: lowercase;
}

.text-line-through {
  text-decoration: line-through;
}

.text-underline {
  text-decoration: underline;
}

.no-underline {
  text-decoration: none;
}

.hover-underline {
  &:hover {
    text-decoration: underline;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

// For cases where we don't want default link styling
a.plain {
  color: inherit;
  text-decoration: none;
}

li.plain {
  list-style-type: none;
}
