@use 'assets/css/partials/index' as *;

.list {
  display: flex;
  flex-direction: column;

  padding: 10px;

  .item {
    margin-top: 5px;
    padding: 5px;
    border: 1px solid black;
  }
}

.filter {
  display: flex;
  align-items: center;
  // margin-top: $gaps-gap-4;
  margin-bottom: $gaps-gap-4;

  > button {
    margin-right: $gaps-gap-4;
    display: flex;
    align-items: center;
    @include fonts-sm;
    @include fonts-bold;

    &:not(.selected) {
      p {
        color: $colors-monochrome-6;
      }
    }

    p {
      @include fonts-uppercase;
      cursor: pointer;
      color: $colors-track-red;
    }

    :global(.label) {
      @include fonts-xs;
      width: 1.8em;
      height: 1.8em;
      display: flex;
      justify-content: center;
      margin-left: $gaps-gap-2;
    }
  }
}

.notification-block {
  background: white;

  &.highlight {
    box-shadow: 0px 0px 4px 2px #f1f1f1;
  }

  // &:hover {
  //   cursor: pointer;
  //   border: 1px solid darken($colors-standard-border-color, 20%);
  // }

  border: 2px solid $colors-standard-border-color; 

  [data-type='thumbnail-block-content'] {
    padding: $gaps-gap-2;
  }

  .top {
    display: flex;
    justify-content: space-between;
    --color-icon: #{$colors-track-red};

    .time {
      display: flex;
      @include fonts-bold;
      @include fonts-xs;
      color: $colors-monochrome-6;

      > * {
        &:first-child {
          margin-right: $gaps-gap-8;
        }
      }
    }
  }

  .details {
    .title {
      @include fonts-sm-fixed;
      margin-top: $gaps-gap-2;
      margin-bottom: $gaps-gap-1;
    }

    @include fonts-xs-fixed;
  }

  .labels {
    margin-top: $gaps-gap-2;

    :global(.label) {
      margin-right: $gaps-gap-2;
    }
  }
}

.filter {
  margin-top: 0px !important;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;
  @include fonts-bold;
}

.container {
  position: relative;
}

.background {
  position: absolute;
  top: 0px;
  height: 80vh;
  width: 100%;
  z-index: -1;
  opacity: 0.15;
}