@use 'assets/css/partials/index' as *;

$gradient-size: max(5%, 32px);

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.container {
  position: relative;
  overflow: hidden;

  &.mask-left,
  &.mask-right,
  &.mask-both {
    .swipe-to-scroll {
      padding-right: $gradient-size;
    }
  }

  &.mask-left {
    -webkit-mask-image: linear-gradient(90deg, transparent, #000 $gradient-size);
  }

  &.mask-right {
    -webkit-mask-image: linear-gradient(90deg, #000 calc(100% - $gradient-size), transparent);
  }

  &.mask-both {
    -webkit-mask-image: linear-gradient(
      90deg,
      transparent,
      #000 $gradient-size,
      #000 calc(100% - $gradient-size),
      transparent
    );
  }

  &.no-bounds {
    overflow: visible;
  }
}

.swipe-to-scroll {
  height: 100%;
  user-select: none;

  &.is-native-scroll {
    overflow-x: auto;
    transform: translateX(0px) !important;
  }

  // * {
  //   // No select
  //   user-select: none;

  //   // No drag
  //   -webkit-user-drag: none;
  //   -khtml-user-drag: none;
  //   -moz-user-drag: none;
  //   -o-user-drag: none;
  //   user-drag: none;
  // }
}
