@use 'src/assets/css/partials/index' as *;

.loading-overlay {
  position: absolute;
  pointer-events: none;
  z-index: 1;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  //   background: rgba(0, 0, 0, 0.1);
  opacity: 0;
  //   transition: opacity 0.2s linear;
  //   display: none;
  //   justify-content: center;
  //   align-items: center;

  &.as-overlay {
    position: fixed;
  }

  &.loading,
  &.no-results,
  &.error {
    opacity: 1;
    // display: flex;

    .message {
      display: flex;
    }
  }

  .blur {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1;
    right: 0px;
    bottom: 0px;
    backdrop-filter: blur(5px);
  }

  &.error {
    .message {
      background: $colors-system-error;
    }
  }

  .message {
    z-index: 1;
    position: sticky;
    padding: $gaps-gap-2;
    background: $colors-main;
    color: white;
    /*
    background: $colors-monochrome-1;
    border: 1px solid $colors-monochrome-5;
    color: $colors-track-red;
    */
    display: none;
    align-items: center;
    justify-content: center;
    align-self: flex-start;
    top: 54px;

    .text {
      margin-right: $gaps-gap-3;
    }

    @media (max-width: $breakpoints-lg) {
      position: fixed;
      bottom: 0px;
      top: auto;
      left: 0px;
      right: 0px;
      z-index: 100;
    }
  }
}
