@use 'src/assets/css/variables' as *;
@use 'src/assets/css/partials/fonts';
@use 'src/assets/css/partials/layout';

// .header-wrapper {
//   position: sticky;
//   top: 0;
//   width: 100%;
//   --header-background-color: white;
//   --header-border: 1px solid rgba(0, 0, 0, 0.1);
//   --header-shadow: 0px 4px 2px rgba(0, 0, 0, 0.15);
//   color: var(--text-color);

//   &.hero {
//     position: fixed;
//     z-index: 1;
//     --text-color: white;
//     --header-background-color: none;
//     --header-border: none;
//     --header-shadow: none;
//   }

//   &.scrolled {
//     --text-color: inherit;
//     // --strip-height: 0px;
//     // --strip-opacity: 0;
//     // --strip-padding: 0px;
//     // --display-strip: none;
//     --header-background-color: white;
//     --header-border: 1px solid rgba(0, 0, 0, 0.1);
//     --header-shadow: 0px 4px 2px rgba(0, 0, 0, 0.15);
//   }

//   .header-wrapper-inner {
//     @include layout.section;
//     box-shadow: var(--header-shadow);
//     background: var(--header-background-color);
//   }
// }

.header-fixed-container {
  position: fixed;
  width: 100%;
  z-index: 1;
  --text-color: white;
  --logo-color: var(--text-color);
  --header-background-color: none;
  --header-shadow: none;

  &.scrolled {
    --text-color: black;
    --logo-color: #2f354b;
    --header-background-color: white;
    --header-shadow: 0px 4px 2px rgba(0, 0, 0, 0.15);
    // --strip-height: 0px;
    // --strip-opacity: 0;
    // --strip-padding: 0px;
    --display-strip: none;
  }
}

.header {
  display: flex;
  justify-content: center;
  width: 100%;
  box-shadow: var(--header-shadow, 0px 4px 2px rgba(0, 0, 0, 0.15));
  background: var(--header-background-color, white);
  color: var(--text-color, black);
  position: sticky;
  z-index: 1;
  top: 0px;

  &.hero {
    position: relative;
  }

  .menu-container {
    @include layout.content;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;

    > a {
      display: flex;
      padding-top: 8px;
      padding-bottom: 8px;
      align-items: center;
      > svg {
        height: 38px;
        fill: var(--logo-color, #2f354b);
        padding-right: 42px;
      }
    }

    // > h1 {
    //   @include fonts.very-bold;
    //   @include fonts.font-xxl;
    //   padding-right: 42px;
    //   font-family: $font-primary;
    //   text-transform: uppercase;
    // }
  }
}
