@use 'assets/css/partials/index' as *;

.container {
  position: relative;
}

.background {
  pointer-events: none;
  position: absolute;
  top: 0px;
  right: 0px;
}

.track-title {
  display: flex;
  align-items: center;
  justify-content: center;
  @include fonts-xl;

  .icon-container {
    width: 32px;
    height: 32px;
    position: relative;
    margin-right: 24px;
    
    svg {
      all: unset;
      height: 100%;
      width: 100%;
    }
  }
}

.track-body {
  margin-left: 0px;

  @media (min-width: $breakpoints-lg) {
    margin-left: 56px; 
  }
}