@use 'assets/css/partials/index' as *;

.list {
  display: flex;
  flex-direction: column;
  margin-top: 16px;

  .session {
    margin-top: 2px;
    padding: 5px;
    border: 1px solid black;
  }
}

.timeslot {
  position: relative;
  // &:first-child {
  //   .start-time {
  //     margin-top: 0px;
  //   }
  // }

  .start-time {
    // position: sticky;
    // top: 64px;
    // background: white;
    // z-index: 1;
    color: $colors-monochrome-7;
    margin: 12px 0px;
    @include fonts-xs-fixed;
  }
}