.main {
  color: var(--color-main);
}
.main-light {
  color: var(--color-main-light);
}
.track-blue {
  color: var(--color-track-blue);
}
.track-light-blue {
  color: var(--color-track-light-blue);
}
.track-teal {
  color: var(--color-track-teal);
}
.track-green {
  color: var(--color-track-green);
}
.track-yellow {
  color: var(--color-track-yellow);
}
.track-orange {
  color: var(--color-track-orange);
}
.track-pink {
  color: var(--color-track-pink);
}
.track-purple {
  color: var(--color-track-purple);
}
.ef-green {
  color: var(--color-ef-green);
}
.ef-blue {
  color: var(--color-ef-blue);
}
.ef-beige {
  color: var(--color-ef-beige);
}
.ef-pink {
  color: var(--color-ef-pink);
}
.system-success {
  color: var(--color-system-success);
}
.system-error {
  color: var(--color-system-error);
}
.system-warning {
  color: var(--color-system-warning);
}
