@use 'src/assets/css/partials/index' as *;

.container {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid $colors-standard-border-color;

  &:last-child {
    border-bottom: none;
  }

  // padding-left: $gaps-gap-2;
  // padding-right: $gaps-gap-2;

  .header {
    user-select: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding-bottom: $gaps-gap-4;
    padding-top: $gaps-gap-4;

    .title {
      @include fonts-bold;
      @include fonts-lg;
    }

    &:hover {
      cursor: pointer;
      // background: $colors-monochrome-2;
    }
  }


  .content {
    transition: all 0.2s linear;
    height: var(--contentHeight);
    overflow: hidden;
  }
}
