@use 'src/assets/css/partials/index' as *;

.theme {
  --theme-color: $colors-track-light-blue;
  --theme-color-hover: #{$colors-track-light-blue-hover};
  --theme-logo: url('src/assets/images/dip-logo.svg');
  --theme-gradient: radial-gradient(
    73.15% 179.46% at 90.19% 25.94%, 
    #064AE1 0%, 
    rgba(0, 149, 255, 0.4) 58.33%, 
    rgba(13, 174, 208, 0) 100%
  );
}
