@use 'src/assets/css/partials/index' as *;

.theme {
  --theme-color: $colors-track-orange;
  --theme-color-hover: #{$colors-track-orange-hover};
  --theme-logo: url('src/assets/images/dip-logo.svg');
  --theme-gradient: radial-gradient(
    73.15% 179.46% at 90.19% 25.94%,
    #00b3a4 0%,
    rgba(0, 255, 117, 0.4) 58.33%,
    rgba(203, 227, 214, 0) 100%
  );
}
