@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

// Typographic ramp
// @mixin font-xs {
//   font-size: $size-2;
//   line-height: 125%;
// }
// @mixin font-sm {
//   font-size: $size-3;
//   line-height: 125%;
// }
// @mixin font-md {
//   font-size: $size-4;
//   line-height: 125%;
// }
// @mixin font-lg {
//   font-size: $size-6;
//   line-height: 125%;
// }
// @mixin font-xl {
//   font-size: $size-8;
//   line-height: 125%;
// }

// @mixin font-xxl {
//   font-size: $size-8 + $size-4;
//   line-height: 125%;
// }

h1 {
  font-size: $size-16 + $size-8;
  line-height: 125%;
}

h2 {
  font-size: $size-16;
  line-height: 125%;
}

h3 {
  font-size: $size-12;
  line-height: 125%;
}

h4 {
  font-size: $size-8;
  line-height: 125%;
}

p {
  font-size: $size-8;
  line-height: 150%;
}

.bold {
  font-weight: bold;
}
