@use 'assets/css/partials/index' as *;

.container {
  width: 100%;
  margin-top: -12px;
  @include fonts-sm;
}

.list {
  list-style-type: none;
  margin-bottom: $gaps-gap-4;
}

.list-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 12px 8px;
  border-bottom: 1px solid $colors-monochrome-10;
  @include fonts-sm;

  > svg {
    font-size: 1.3em;
    margin-right: 12px;
  }

  a {
    @include fonts-generic-link;
    @include colors-theme-color;
    text-transform: uppercase;
  }

  span,
  a {
    margin-right: $gaps-gap-2;

    &:last-child {
      margin-left: auto;
      margin-right: 0;
    }
  }

  .label {
    @include fonts-bold;
    text-transform: uppercase;
  }

  > * {
    &:last-child {
      flex-shrink: 0;
    }
  }
  // &:hover,
  // &:focus,
  // &:active {
  //   background: #f8f8f8;
  // }
}

.primary {
  color: $colors-monochrome-10 !important;
}
