@use 'src/assets/css/partials/index' as *;

.layout {
  min-height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;

  > .header {
    width: 100%;
  }

  > .content {
    @include layout-content;
    padding-top: 64px;
    width: 100%;
    padding-bottom: 64px;
    flex: 1 0 auto;
  }

  > .footer {
    width: 100%;
    flex-shrink: 0;
  }
}
