@use 'src/assets/css/variables' as *;
@use 'src/assets/css/partials/gaps';
@use 'src/assets/css/partials/fonts';

.container {
  a {
    color: #88c43f;
  }

  svg {
    fill: $color-primary;
  }
}

.filter-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-bar {
  padding: $gap-8 0;

  input {
    width: 400px;
    font-size: $size-12;
    color: $color-primary;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: $gap-1 $gap-2;
  }

  .subtitle {
    @include fonts.font-xs;
    @include fonts.bold;
    text-transform: uppercase;
    color: #88c43f;
    display: block;
    margin: $gap-4 0;
  }
}

.category {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: $gap-4 0;

  h3 {
    text-transform: uppercase;
  }
}

.collapse {
  cursor: pointer;
}
