@use 'assets/css/partials/index' as *;

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: $gaps-gap-8;
  position: relative;

  .top-section {
    width: 100%;
    padding-bottom: $gaps-gap-4;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .controls {
      display: flex;
      align-items: center;

      .arrows {
        margin-left: $gaps-gap-8;

        @media (max-width: $breakpoints-lg) {
          margin-left: $gaps-gap-4;
        }
      }
    }
  }
}

.children {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: calc(100% + #{$gaps-gap-2 * 2}) !important;
  left: -$gaps-gap-2;

  .card {
    &:not(.no-swipe) {
      cursor: move; /* fallback if grab cursor is unsupported */
      cursor: grab;
      cursor: -moz-grab;
      cursor: -webkit-grab;
    }

    height: 100%;
    // margin-right: $gaps-gap-4;
    margin-left: $gaps-gap-2;
    margin-right: $gaps-gap-2;
    margin-bottom: $gaps-gap-4;
    background: white;
  }
}

.arrows {
  display: flex;
  flex-wrap: nowrap;

  .arrow-button {
    flex-shrink: 0;
    padding: 8px;
    touch-action: none;

    &:last-child {
      margin-left: $gaps-gap-5;
    }

    // &:not(.always-buttons) {
    //   @media (max-width: $breakpoints-lg) {
    //     display: none;
    //   }
    // }
  }
}
