@use 'assets/css/partials/index' as *;

// .list {
//   display: flex;
//   flex-direction: column;

//   padding: 10px;

//   .item {
//     margin-top: 5px;
//     padding: 5px;
//     border: 1px solid black;
//   }
// }

.panzoom {
  overflow: hidden;
}

.image {
  width: 100%;
  // object-fit: contain;
  height: min(50vh, 300px);
  overflow: hidden;
  position: relative;

  // @media (max-width: $breakpoints-md) {
  //   img {
  //     object-fit: cover !important;
  //   }
  // }
}

.floor-header {
  margin-bottom: 8px;
}
