@use 'src/assets/css/partials/index' as *;

.colors {
  display: flex;
}

.colors > li {
  width: 40px;
  height: 40px;
  display: inline;
}

.bg-color-primary {
  background: $colors-monochrome-10;
}
.bg-color-secondary {
  background: $colors-main;
}
.bg-color-tertiary {
  background: $colors-main-light;
}

.color-success {
  color: $colors-state-success;
}
.color-success-light {
  color: $colors-state-success-light;
}
.bg-color-success {
  background: $colors-state-success;
}
.bg-color-success-light {
  background: $colors-state-success-light;
}

.color-error {
  color: $colors-state-error;
}
.color-error-light {
  color: $colors-state-error-light;
}
.bg-color-error {
  background: $colors-state-error;
}
.bg-color-error-light {
  background: $colors-state-error-light;
}

.color-warning {
  color: $colors-state-warning;
}
.color-warning-light {
  color: $colors-state-warning-light;
}
.bg-color-warning {
  background: $colors-state-warning;
}
.bg-color-warning-light {
  background: $colors-state-warning-light;
}

.color-info {
  color: $colors-state-info;
}
.color-info-light {
  color: $colors-state-info-light;
}
.bg-color-info {
  background: $colors-state-info;
}
.bg-color-info-light {
  background: $colors-state-info-light;
}

.color-light {
  color: $colors-state-neutral;
}
.color-light-light {
  color: $colors-state-neutral-light;
}
.bg-color-light {
  background: $colors-state-neutral;
}
.bg-color-light-light {
  background: $colors-state-neutral-light;
}
