@use 'src/assets/css/variables' as *;
@use 'src/assets/css/partials/grids';
@use 'src/assets/css/partials/layout';
@use 'src/assets/css/partials/gaps';

.blog-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: $gap-4;
  position: relative;

  .top-section {
    @include layout.content;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .cards {
    @include layout.content;
  }
}

.cards {
  display: flex;
  flex-direction: column;
  height: 100%;
  // overflow: hidden;
  // max-width: 100%;

  .card {
    // cursor: move; /* fallback if grab cursor is unsupported */
    // cursor: grab;
    // cursor: -moz-grab;
    // cursor: -webkit-grab;
    height: 500px;
    margin-right: $gap-4;
    margin-bottom: $gap-4;
    background: white;

    @media (max-width: $screen-lg) {
      height: 400px;
    }

    @media (max-width: $screen-md) {
      height: 300px;
    }

    &.last {
      margin-right: 0px;
    }
  }
}

.arrow-button {
  --text-color: white;
  background: black;
  padding: 8px;

  &:disabled {
    background: grey;
  }

  &:last-child {
    margin-left: 20px;
  }

  &:not(.always-buttons) {
    @media (max-width: $screen-lg) {
      display: none;
    }
  }
}
