@use 'src/assets/css/variables' as *;
@use 'src/assets/css/partials/grids';

.blog-container {
  margin-top: 32px;
  .card-columns {
    @include grids.grid-6;
    grid-gap: 32px;

    @media (max-width: $screen-lg) {
      grid-gap: 16px;
    }

    > div {
      // width: 526px;
      grid-column: span 2;

      @media (max-width: $screen-lg) {
        grid-column: span 3;
      }

      @media (max-width: $screen-md) {
        grid-column: span 6;
      }
    }
  }
}
