@use 'src/assets/css/partials/index' as *;

$blog-bg-color: #f3f9ff;

.background {
  width: 100%;
  height: 100%;
  background: $blog-bg-color;
}

.container {
  width: 100%;
  height: 100%;
  position: relative;

  &:before {
    content: '';
    position: absolute;
    z-index: 1;
    left: -210px;
    width: 200px;
    height: 120%;
    top: -10%;
    background: $blog-bg-color;
  }

  &:after {
    content: '';
    position: absolute;
    z-index: 1;
    right: -210px;
    width: 200px;
    height: 120%;
    top: -10%;
    background: $blog-bg-color;
  }
}

.card {
  height: 100% !important;
  // cursor: auto !important;
}
