:global {
  .slick-slider {
    height: 100%;
    touch-action: auto;
    .slick-list {
      height: 100%;
      .slick-track {
        height: 100%;

        .slick-slide {
          > div {
            height: 100%;
          }
        }
      }
    }
  }
}
