.wrapper {
  display: flex;
  position: relative;

  &:before {
    content: '';
    z-index: 1;
    background: linear-gradient(to top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    position: absolute;
    bottom: -1px;
    pointer-events: none;
    width: calc(100% - 8px);
    right: 8px; // scrollbar
    -webkit-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    height: var(--scroll-gradient-height);
  }
}
