@use 'src/assets/css/variables' as *;
@use 'src/assets/css/partials/grids';
@use 'src/assets/css/partials/fonts';
@use 'src/assets/css/partials/layout';
@use 'src/assets/css/partials/gaps';

@keyframes gradient {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 100%;
  }
}

$logo-offset: 50px;

.hero {
  overflow: hidden;
  flex-grow: 1;
  position: relative;
  height: 100vh;
  width: 100%;
  background: linear-gradient(45deg, #f17c58, #e94584, #24aadb, #27dbb1, #ffdc18, #ff3706);
  background-size: 600% 100%;
  animation: gradient 16s linear infinite;
  animation-direction: alternate;

  // Using 100vh on mobile devices often doesn't account for the navigation bar at the bottom, so this is a decent compromise - if it's important to fill the entire
  // screen we can fall back to a JS solution - pending feedback
  @media (max-width: $screen-lg) {
    height: 80vh;
  }

  .mountain-container {
    position: absolute;
    width: 100%;
    bottom: 0%;
    display: flex;
    justify-content: center;
    align-items: flex-end;

    .mountains {
      width: 35%;

      @media (max-width: $screen-lg) {
        width: 50%;
      }
    }
  }

  .cloud-container {
    position: absolute;
    width: 100%;
    bottom: 0px;

    .clouds {
      margin-bottom: -9%;
      margin-left: -7.5%;
      width: 115%;
    }
  }

  .rays {
    position: absolute;
    width: 100%;
    height: 100%;
    width: 100%;
    top: -$logo-offset;
    transform: scale(2);

    // @media (max-width: $screen-lg) {
    //   display: none;
    // }
  }

  .left-rotated,
  .right-rotated {
    color: white;
    position: absolute;
    height: 100%;
    display: flex;
    height: 100%;
    align-items: center;

    @media (max-width: $screen-lg) {
      display: none;
    }

    p {
      @include fonts.font-xs;
      @include fonts.bold;
      white-space: nowrap;
    }
  }

  .left-rotated {
    left: 0;

    p {
      writing-mode: vertical-lr;
      margin-left: 20px;
      transform: rotate(180deg);
    }
  }

  .right-rotated {
    right: 0;
    justify-content: flex-end;

    p {
      writing-mode: vertical-rl;
      margin-right: 20px;
    }
  }

  .grid {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    color: white;
    --text-color: white;

    @include gaps.lg(true);
    @include grids.grid-12;

    .logo {
      display: flex;
      position: relative;
      width: 100%;
      height: 100%;
      grid-column-start: 5;
      grid-column-end: 9;
      grid-row: 1;
      justify-content: center;
      align-items: center;
      top: -$logo-offset;

      @media (max-width: $screen-lg) {
        grid-column-start: 3;
        grid-column-end: 11;
      }
    }

    .info {
      position: relative;
      overflow: hidden;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      margin: auto;
      margin-left: 32px;
      height: 50%;
      grid-column: 9 / 13;
      grid-row: 1;

      @media (max-width: $screen-lg) {
        grid-column: 1 / 13;
        grid-row: 1;
        height: auto;
      }

      .date {
        width: 100%;

        p {
          line-height: 100%;
        }
      }

      .calendar {
        position: relative;

        > p {
          font-family: $font-tertiary;

          @media (max-width: $screen-lg) {
            display: none;
          }
        }

        button {
          @include fonts.font-xl;
          @include fonts.bold;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          cursor: pointer;
          margin-top: 16px;
          display: flex;
          color: white;
          padding-left: 28px;
          padding-right: 28px;
          padding-top: 14px;
          padding-bottom: 14px;
          border: 2px solid white;

          .icon {
            margin-right: $gap-2;
            flex-shrink: 0;
          }
        }
      }
    }
  }
}
