@use 'src/assets/css/variables' as *;
@use 'src/assets/css/partials/fonts';

.container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  background: linear-gradient(
    315deg,
    hsla(338, 98%, 57%, 1) 0%,
    hsla(21, 100%, 70%, 1) 73%,
    hsla(18, 100%, 81%, 1) 100%
  );

  @media (max-width: $screen-md) {
    font-size: 7px;
  }

  .text {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    pointer-events: none;

    .backdrop {
      display: flex;
      justify-self: center;
      flex-direction: column;
      align-items: center;
      position: absolute;
      top: -5em;

      > p {
        color: #000000a3;
        font-size: 18px;

        @media (max-width: $screen-md) {
          font-size: 14px;
        }
      }

      > h1 {
        color: rgba(0, 0, 0, 0.1);
        font-size: 12em;
        line-height: 75%;
      }
    }

    > h2 {
      font-size: 6em;
      z-index: 1;
    }

    > span {
      font-size: 32px;
      --text-color: white;
      z-index: 1;
    }
  }
}

.hash-tag {
  color: #000000a3;
  position: absolute;
  top: $gap-4;
  right: $gap-4;
  z-index: 2;
}

.share {
  color: white;
  // border-color: white;
  border: 1px solid white;
  pointer-events: auto;

  > span {
    margin-right: $gap-2;
  }
}

.party {
  position: absolute;
  right: -6%;
  bottom: -10%;
  max-width: 30%;
}
