@use 'src/assets/css/variables' as *;
@use 'src/assets/css/partials/fonts';

@keyframes gradient {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 100%;
  }
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  background: linear-gradient(45deg, #f17c58, #e94584, #24aadb, #27dbb1, #ffdc18, #ff3706);
  background-size: 600% 100%;
  animation: gradient 16s linear infinite;
  animation-direction: alternate;

  // background: linear-gradient(
  //   315deg,
  //   hsla(338, 98%, 57%, 1) 0%,
  //   hsla(21, 100%, 70%, 1) 73%,
  //   hsla(18, 100%, 81%, 1) 100%
  // );

  @media (max-width: $screen-md) {
    font-size: 7px;
  }

  .text {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    pointer-events: none;

    .backdrop {
      display: flex;
      justify-self: center;
      flex-direction: column;
      align-items: center;
      position: absolute;
      top: -5em;

      > p {
        font-size: 18px;

        @media (max-width: $screen-md) {
          font-size: 14px;
        }
      }

      > h1 {
        color: rgba(0, 0, 0, 0.1);
        font-size: 12em;
        line-height: 75%;
      }
    }

    > h2 {
      font-size: 6em;
      z-index: 1;
    }

    > span {
      font-size: 32px;
      --text-color: white;
      z-index: 1;
    }
  }
}

.hash-tag {
  color: #000000a3;
}

.share {
  pointer-events: auto;

  > span {
    margin-right: $gap-2;
  }
}

.party {
  position: absolute;
  right: -6%;
  bottom: -10%;
  max-width: 30%;
}
