@use 'src/assets/css/partials/index' as *;

.container {
  padding: $sizes-size-8 0;
  display: flex;
  flex-wrap: nowrap;

  @media (min-width: $breakpoints-md) and (max-width: $breakpoints-xl) {
    flex-wrap: wrap;
  }
}

.alert-container {
  padding: $sizes-size-8 0;
}

.input {
  @include fonts-sm;

  flex-grow: 1;
  color: $colors-primary;
  border-bottom: 1px solid $colors-primary;
  margin-right: $gaps-gap-4;

  &:focus,
  &:active {
    outline: none;
  }

  @media (min-width: $breakpoints-md) and (max-width: $breakpoints-xl) {
    width: 100%;
    margin-right: 0;
  }
}

.button {
  @include fonts-sm;

  display: inline-block;
  background: #fff;
  border: 2px solid $colors-primary;
  color: $colors-primary;
  padding: $gaps-gap-2 $gaps-gap-3;

  &:focus,
  &:active,
  &:hover {
    outline: none;
    background: #fff;
    border: 2px solid $colors-primary;
    color: $colors-primary;
  }

  @media (min-width: $breakpoints-md) and (max-width: $breakpoints-xl) {
    padding: $gaps-gap-1 $gaps-gap-2;
    width: 100%;
    margin-top: $gaps-gap-2;
  }
}
