@use 'sizes';
@use 'gaps';
@use 'breakpoints';
@use 'colors';

// Fonts
$primary: 'Roboto', serif;
$secondary: 'Space Mono', monospace;

// Add more sizes as needed. Make sure to reference any newly added mixins from typography.scss so we have one source of truth for text sizes.
@mixin xxs {
  font-size: sizes.$size-fixed-5; // Using fixed size to prevent text getting too small
  line-height: 150%;
}

@mixin xs {
  font-size: sizes.$size-fixed-6; // Using fixed size to prevent text getting too small
  line-height: 150%;
}

@mixin sm {
  font-size: sizes.$size-7;
  line-height: 150%;
}

@mixin md {
  font-size: sizes.$size-8;
  line-height: 150%;
}

@mixin lg {
  font-size: sizes.$size-9;
  line-height: 125%;
}

@mixin xl {
  font-size: sizes.$size-12;
  line-height: 125%;
}

@mixin xxl {
  font-size: sizes.$size-16;
  line-height: 125%;
}

// Fixed sizes
@mixin xxs-fixed {
  font-size: sizes.$size-fixed-5;
  line-height: 150%;
}

@mixin xs-fixed {
  font-size: sizes.$size-fixed-6;
  line-height: 150%;
}

@mixin sm-fixed {
  font-size: sizes.$size-fixed-7;
  line-height: 150%;
}

@mixin md-fixed {
  font-size: sizes.$size-fixed-8;
  line-height: 150%;
}

@mixin lg-fixed {
  font-size: sizes.$size-fixed-9;
  line-height: 125%;
}

@mixin xl-fixed {
  font-size: sizes.$size-fixed-12;
  line-height: 125%;
}

@mixin xxl-fixed {
  font-size: sizes.$size-fixed-16;
  line-height: 125%;
}

// This is not in the design system, so giving it a temporary name
@mixin massive-2 {
  @include primary;
  @include very-bold;
  text-transform: uppercase;
  font-size: 9rem;
  letter-spacing: -1.5px;
}

@mixin massive {
  @include secondary;
  @include normal;
  font-size: sizes.$size-16 + sizes.$size-16 + sizes.$size-8;
  line-height: 150%;
}

@mixin section-link {
  @include bold;
  font-size: sizes.$size-9;
  color: colors.$track-light-blue;
  --color-icon: colors.$main;
  text-transform: uppercase;
}

// Font-family
@mixin primary {
  font-family: $primary;
}

@mixin secondary {
  font-family: $secondary;
}

// Misc
@mixin normal {
  font-weight: 400;
}

@mixin semi-bold {
  font-weight: 600;
}

@mixin bold {
  font-weight: 700;
}

@mixin very-bold {
  font-weight: 900;
}

@mixin title {
  @include primary;
  @include bold;
  font-size: sizes.$size-fixed-11;
  line-height: 150%;
}

@mixin subtitle {
  @include primary;
  @include normal;
  font-size: sizes.$size-fixed-11;
  line-height: 150%;
}

@mixin uppercase {
  text-transform: uppercase;
}
