@use 'sizes';
@use 'gaps';
@use 'breakpoints';
@use 'colors';

// Fonts
$primary: 'Roboto', serif;
$secondary: 'Space Mono', monospace;

// Relative to root (rem) sizes
@mixin xxs {
  font-size: max(sizes.$size-5, 9px); // Prevent scaling too far down
  line-height: 150%;
}

@mixin xs {
  font-size: max(sizes.$size-6, 10px); // Prevent scaling too far down
  line-height: 150%;
}

@mixin sm {
  font-size: max(sizes.$size-7, 11px); // Prevent scaling too far down
  line-height: 150%;
}

@mixin md {
  font-size: max(sizes.$size-8, 14px);
  line-height: 150%;
}

@mixin lg {
  font-size: max(sizes.$size-9, 15px);
  line-height: 125%;
}

@mixin xl {
  font-size: sizes.$size-12;
  line-height: 125%;
}

@mixin xxl {
  font-size: sizes.$size-16;
  line-height: 125%;
}

// Relative (em) sizes
@mixin xxs-em {
  font-size: max(sizes.$size-5-em, 9px); // Prevent scaling too far down
  line-height: 150%;
}

@mixin xs-em {
  font-size: max(sizes.$size-6-em, 10px); // Prevent scaling too far down
  line-height: 150%;
}

@mixin sm-em {
  font-size: max(sizes.$size-7-em, 11px); // Prevent scaling too far down
  line-height: 150%;
}

@mixin md-em {
  font-size: max(sizes.$size-8-em, 14px);
  line-height: 150%;
}

@mixin lg-em {
  font-size: sizes.$size-9-em;
  line-height: 125%;
}

@mixin xl-em {
  font-size: sizes.$size-12-em;
  line-height: 125%;
}

@mixin xxl-em {
  font-size: sizes.$size-16-em;
  line-height: 125%;
}

// Fixed sizes
@mixin xxs-fixed {
  font-size: sizes.$size-fixed-5;
  line-height: 150%;
}

@mixin xs-fixed {
  font-size: sizes.$size-fixed-6;
  line-height: 150%;
}

@mixin sm-fixed {
  font-size: sizes.$size-fixed-7;
  line-height: 150%;
}

@mixin md-fixed {
  font-size: sizes.$size-fixed-8;
  line-height: 150%;
}

@mixin lg-fixed {
  font-size: sizes.$size-fixed-9;
  line-height: 125%;
}

@mixin xl-fixed {
  font-size: sizes.$size-fixed-12;
  line-height: 125%;
}

@mixin xxl-fixed {
  font-size: sizes.$size-fixed-16;
  line-height: 125%;
}

// This is not in the design system, so giving it a temporary name
@mixin massive-2 {
  @include primary;
  @include very-bold;
  text-transform: uppercase;
  font-size: 9rem;
  letter-spacing: -1.5px;
}

@mixin massive {
  @include secondary;
  @include normal;
  font-size: sizes.$size-16 + sizes.$size-16;
  line-height: 150%;
}

@mixin app-section-header {
  @include primary;
  @include bold;
  @include lg;
}

@mixin app-section-header-sm {
  @include primary;
  @include bold;
  @include sm;
}

@mixin section-link {
  @include bold;
  font-size: sizes.$size-9;
  color: colors.$track-light-blue;
  --color-icon: colors.$main;
  text-transform: uppercase;
}

@mixin generic-link {
  color: colors.$link;
  font-weight: bold;
  --color-icon: #{colors.$link};
}

// Font-family
@mixin primary {
  font-family: $primary;
}

@mixin secondary {
  font-family: $secondary;
}

// Misc
@mixin normal {
  font-weight: 400;
}

@mixin semi-bold {
  font-weight: 600;
}

@mixin bold {
  font-weight: 600;
}

@mixin very-bold {
  font-weight: 900;
}

@mixin highlighted-title {
  @include bold;
  font-size: 24px;
  font-weight: 300;
  line-height: 150%;
}

@mixin highlighted {
  font-weight: 300;
  line-height: 150%;
}

@mixin spaced {
  @include gaps.margin-bottom(gaps.$gap-6, gaps.$gap-4);
}

@mixin title {
  @include primary;
  @include bold;
  font-size: 32px;
  line-height: 150%;
}

@mixin subtitle {
  @include primary;
  @include normal;
  font-size: sizes.$size-fixed-11;
  line-height: 150%;
}

@mixin uppercase {
  text-transform: uppercase;
}

