@use 'sizes';
@use 'gaps';
@use 'breakpoints';

// Fonts
$primary: 'Roboto', serif; // 'Montserrat', sans-serif;
$secondary: 'Roboto', serif;
$tertiary: 'Space Mono', monospace;

// Add more sizes as needed. Make sure to reference any newly added mixins from typegraphy.scss so we have one source of truth for text sizes.
@mixin xxs {
  font-size: sizes.$size-5;
  line-height: 150%;
}

@mixin xs {
  font-size: sizes.$size-6;
  line-height: 150%;
}

@mixin sm {
  font-size: sizes.$size-7;
  line-height: 150%;
}

@mixin md {
  font-size: sizes.$size-8;
  line-height: 150%;
}

@mixin lg {
  font-size: sizes.$size-9;
  line-height: 125%;
}

@mixin xl {
  font-size: sizes.$size-12;
  line-height: 125%;
}

@mixin xxl {
  font-size: sizes.$size-16;
  line-height: 125%;
}

// Font-family
@mixin primary {
  font-family: $primary;
}

@mixin secondary {
  font-family: $secondary;
}

@mixin tertiary {
  font-family: $tertiary;
}

// Misc
@mixin normal {
  font-weight: 400;
}
@mixin semi-bold {
  font-weight: 600;
}
@mixin bold {
  font-weight: 700;
}
@mixin very-bold {
  font-weight: 800;
}

@mixin section-header {
  font-weight: 400;
  margin-bottom: gaps.$gap-8;

  @media (max-width: breakpoints.$lg) {
    margin-bottom: gaps.$gap-4;
  }
}

@mixin subsection-header {
  @include bold;
  @include tertiary;
  text-transform: uppercase;
  margin-bottom: gaps.$gap-6;

  @media (max-width: breakpoints.$lg) {
    margin-bottom: gaps.$gap-4;
  }
}
