@use 'src/assets/css/variables' as *;

@mixin section {
  display: flex;
  justify-content: center;
}

$side-gap: 64px;

@mixin content {
  max-width: $content-width + ($side-gap * 2);
  padding-left: 64px;
  padding-right: 64px;
  flex-grow: 1;

  @media (max-width: $screen-md) {
    padding-left: 16px;
    padding-right: 16px;
  }
}
