@use './gaps';

$content-width: 1680px;
$side-gap: gaps.$gap-16;
$max-content-width: $content-width + ($side-gap * 2);

@mixin section {
  display: flex;
  justify-content: center;
}

@mixin content {
  max-width: $max-content-width;
  width: 100%;
  @include gaps.lg(true);
}

@mixin grid-12 {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: gaps.$gap-8;
}

@mixin grid-6 {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  column-gap: gaps.$gap-4;
}
