$size-1: 0.125rem; // 2px (assuming root font-size is 16px)
$size-2: $size-1 * 2;
$size-3: $size-1 * 3;
$size-4: $size-1 * 4; // 0.5rem 8px
$size-5: $size-1 * 5;
$size-6: $size-1 * 6;
$size-7: $size-1 * 7;
$size-8: $size-1 * 8; // 1rem 16px
$size-9: $size-1 * 9;
$size-10: $size-1 * 10;
$size-11: $size-1 * 11;
$size-12: $size-1 * 12;
$size-13: $size-1 * 13;
$size-14: $size-1 * 14;
$size-15: $size-1 * 15;
$size-16: $size-1 * 16; // 2rem 32px;
$size-20: $size-1 * 20; // 2rem 40px;
$size-32: $size-1 * 32; // 4rem 64px;
$size-40: $size-1 * 40; // 5rem 80px;
$size-44: $size-1 * 44; // 5.5rem 88px;
$size-48: $size-1 * 48; // 6rem 96px;
$size-64: $size-1 * 64; // 8rem 128px;
$size-72: $size-1 * 72; // 9rem 144px;
$size-80: $size-1 * 80; // 10rem 160px;
$size-88: $size-1 * 88; // 11rem 176px;

$size-fixed-1: 2px;
$size-fixed-2: $size-fixed-1 * 2;
$size-fixed-3: $size-fixed-1 * 3;
$size-fixed-4: $size-fixed-1 * 4;
$size-fixed-5: $size-fixed-1 * 5;
$size-fixed-6: $size-fixed-1 * 6;
$size-fixed-7: $size-fixed-1 * 7;
$size-fixed-8: $size-fixed-1 * 8;
$size-fixed-9: $size-fixed-1 * 9;
$size-fixed-10: $size-fixed-1 * 10;
$size-fixed-11: $size-fixed-1 * 11;
$size-fixed-12: $size-fixed-1 * 12;
$size-fixed-13: $size-fixed-1 * 13;
$size-fixed-14: $size-fixed-1 * 14;
$size-fixed-15: $size-fixed-1 * 15;
$size-fixed-16: $size-fixed-1 * 16; // 32px;
$size-fixed-20: $size-fixed-1 * 20; // 40px;
$size-fixed-32: $size-fixed-1 * 32; // 64px;
$size-fixed-40: $size-fixed-1 * 40; // 80px;
$size-fixed-44: $size-fixed-1 * 44; // 88px;
$size-fixed-48: $size-fixed-1 * 48; // 96px;
$size-fixed-64: $size-fixed-1 * 64; // 128px;
$size-fixed-72: $size-fixed-1 * 72; // 144px;
$size-fixed-80: $size-fixed-1 * 80; // 160px;
$size-fixed-88: $size-fixed-1 * 88; // 176px;
