@use 'src/assets/css/variables' as *;
@use 'src/assets/css/partials/layout';

:global {
  .layout {
    min-height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;

    > .header {
      width: 100%;
    }

    > .content {
      @include layout.content;
      padding-top: 64px;
      padding-bottom: 64px;
      flex: 1 0 auto;
    }

    > .footer {
      width: 100%;
      flex-shrink: 0;
    }
  }
}
