@keyframes mymove {
  0% {
    transform: translateX(0px);
  }

  25% {
    transform: translateX(-50px);
  }

  75% {
    transform: translateX(50px);
  }

  100% {
    transform: translateX(0px);
  }
}

.sway {
  animation: mymove linear 13s infinite;
}
