@use 'src/assets/css/variables' as *;
@use 'src/assets/css/partials/gaps';
@use 'src/assets/css/partials/fonts';

.container {
  width: 100%;
  height: 100%;

  @include gaps.responsive-gap(
    $attribute: padding,
    $top: $gap-16 + $gap-2,
    $left: $gap-16 + $gap-2,
    $right: $gap-10,
    $bottom: $gap-10,
    $min-gap: $gap-4
  );

  .text {
    width: 750px;
    max-width: 80%;

    h1 {
      font-size: $size-8 * 9;
      line-height: $size-8 * 8;

      @media (max-width: $screen-sm) {
        font-size: $size-8 * 5;
        line-height: $size-8 * 4;
      }
    }

    h1,
    p {
      @include gaps.responsive-gap($attribute: margin, $bottom: $gap-6, $min-gap: $gap-4);
    }

    > p {
      font-size: 1.3rem;

      @media (max-width: $screen-sm) {
        font-size: unset;
      }
    }

    button {
      text-transform: uppercase;
      margin-right: $gap-2;
      margin-bottom: $gap-2;

      > * {
        margin-left: 1em;
      }
    }
  }
}

.hash-tag {
  color: rgba(13, 174, 208, 1);
  position: absolute;
  top: $gap-4;
  right: $gap-4;

  @media (max-width: $screen-sm) {
    display: none;
  }
}

.dog-and-guy {
  position: absolute;
  display: flex;
  align-items: flex-end;
  z-index: -1;
  left: 20%;
  bottom: 0%;
  transform-origin: 0 100%;

  transform: scale(1.2);

  @media (max-width: $screen-xxl) {
    transform: scale(0.9);
  }

  @media (max-width: $screen-xl) {
    transform: scale(0.8);
  }

  @media (max-width: $screen-lg) {
    transform: scale(0.75);
  }

  @media (max-width: $screen-md) {
    transform: scale(0.65);
    bottom: -10px; // Quick band-aid fix for image not flushing with bottom on safari (unsure why, no time)
    left: 0%;
  }

  @media (max-width: $screen-tiny) {
    transform: scale(0.45);
  }

  .guy {
    flex-basis: 60%;
    flex-shrink: 0;
  }

  .dog {
    position: relative;
    height: 0%;
    flex-basis: 40%;
    flex-shrink: 0;
    display: flex;
    align-items: flex-end;

    .wow {
      position: absolute;
      top: -10%;
      right: 50%;
      transform: rotate(-25deg);
      color: rgba(0, 218, 205, 1);
      font-size: 32px;

      @media (hover: none) {
        display: none;
      }
    }

    .doge {
      position: absolute;
      top: -10%;
      right: 0%;

      @media (hover: none) {
        display: none;
      }
    }
  }
}

.leslie {
  position: absolute;
  top: 10%;
  right: 10%;

  @media (max-width: $screen-lg) {
    display: none;
  }
}

.marker {
  position: absolute;
  right: 10%;
  bottom: 10%;
  cursor: pointer;

  @media (hover: none) {
    display: none;
  }

  @media (max-width: $screen-lg) {
    display: none;
  }
}

.angle {
  position: absolute;
  top: -45%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #62f3e5;
  opacity: 0.3;
  transform: skewY(-14deg);
  z-index: -1;
}

.road {
  position: absolute;
  height: 80%;
  top: 20%;
  width: 100%;
  z-index: -1;
  object-fit: cover;
  object-position: 8%;

  @media (max-width: $screen-xxl) {
    object-position: 12%;
  }

  @media (max-width: $screen-xl) {
    object-position: 16%;
  }

  @media (max-width: $screen-lg) {
    object-position: 24%;
  }

  @media (max-width: $screen-md) {
    object-position: 30%;
  }
}

.drag-to-continue {
  position: absolute;
  z-index: 100;
  color: rgba(0, 179, 164, 1);
  font-family: $font-secondary;
  right: $gap-4;
  bottom: $gap-4;
  text-transform: uppercase;

  > p > span {
    &:nth-child(1) {
      display: inline-block;

      @media (hover: none) {
        display: none;
      }
    }

    &:nth-child(2) {
      display: none;

      @media (hover: none) {
        display: inline-block;
      }
    }
  }
}

// Sort out the padding later - probably has to be more deeply integrated with the modal itself
.what-is-devcon {
  > h4 {
    @include fonts.font-xl;
    font-family: $font-secondary;
    text-transform: uppercase;
    margin-bottom: $gap-4;
    padding-bottom: $gap-4;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }

  > div {
    max-width: 750px;
    padding-right: $gap-8;

    @media (max-width: $screen-sm) {
      padding-right: 0px;
    }
  }
}

.modal-content {
  @include fonts.font-lg;

  p:first-child {
    @include fonts.font-xl;
  }
}

.modal-footer {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding-top: $gap-6;
  @include fonts.semi-bold;
  text-transform: uppercase;

  > a {
    cursor: pointer;
  }
}
