@use 'assets/css/partials/index' as *;

.container {
  display: flex;
  flex-direction: column;

  @media (min-width: $breakpoints-lg) {
    flex-direction: row;
  }

  > * {
    flex-basis: 50%;

    &:last-child {
      margin-top: 16px;
    }


    @media (min-width: $breakpoints-lg) {
      &:first-child {
        margin-right: 16px;
      }
  
      &:last-child {
        margin-top: 0px;
        margin-left: 16px;
      }
    }
  }

  .message-card {
    display: flex;
    overflow: hidden;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    padding: 32px 24px;
    background: #FFFAFA;
    border: 1px solid #E55066;
    box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.1);

    &.orange {
      background: #FFFBF4;
      border: 1px solid #F69022;

      .background {
        svg {
          fill:  #F69022;
        }
      }
    }

    .background {
      position: absolute;
      opacity: 0.1;
      bottom: 0px;
      right: 0px;
      height: 100%;

      svg {
        transform: translateY(-25%);
        width: 100%;
        height: 150%;
        fill: #E55066;
      }
    }
  
    .header, .footer {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .header {
      margin-bottom: 25px;
    }

    .footer {
      margin-top: 40px;
    }
  }
}
