@use 'assets/css/partials/index' as *;

.container {
  display: flex;
  flex-direction: column;

  @media (min-width: $breakpoints-lg) {
    flex-direction: row;
  }

  > * {
    flex-basis: 50%;

    &:last-child {
      margin-top: 16px;
    }


    @media (min-width: $breakpoints-lg) {
      &:first-child {
        margin-right: 16px;
      }
  
      &:last-child {
        margin-top: 0px;
        margin-left: 16px;
      }
    }
  }
}
