@use 'assets/css/partials/index' as *;

.container {
  position: fixed;
  bottom: calc(var(--app-nav-lower-height) + 8px);
  right: 0px;
  z-index: 18;
  text-align: right;
  pointer-events: none;

  .shift-end {
    display: flex;
    justify-content: flex-end;
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    width: 52px;
    height: 52px;
    background: $colors-track-red;
    font-size: 20px;
    color: white;
    --color-icon: white;
    pointer-events: auto;

    .text {
      @include fonts-xxs;
      margin-top: 0.5em;
      line-height: 1em;
    }
  }
}