@use 'src/assets/css/variables' as *;

.container {
  display: flex;
  width: 100%;
  height: 100%;

  @media (max-width: $screen-md) {
    flex-direction: column;
  }

  .deva {
    max-width: 500px;
    flex-basis: 40%;
    flex-shrink: 0;

    @media (max-width: $screen-md) {
      flex-basis: 35%;
      max-width: none;
    }
  }

  .message {
    position: relative;
    overflow: auto;
    margin-left: $gap-10;
    flex-grow: 1;
    max-width: 700px;

    &::-webkit-scrollbar {
      width: 8px;
    }

    &::-webkit-scrollbar-track {
      background: rgba(0, 0, 0, 0.05);
    }

    &::-webkit-scrollbar-thumb {
      background: #c1c1c1;
      border-radius: 5px;
    }

    @media (max-width: $screen-md) {
      margin-left: 0px;
      max-width: none;

      > h1 {
        font-size: 2rem;
      }

      // Has to be more sophisticated to work, e.g. use JS to detect if scrolling is possible, and remove the gradient when fully scrolled
      // &:after {
      //   content: '';
      //   background-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 50%, white);
      //   position: absolute;
      //   top: 0;
      //   left: 0;
      //   width: 100%;
      //   height: 100%;
      // }
    }

    > * {
      margin-top: $gap-8;

      &:first-child {
        margin-top: 0px;
      }

      @media (max-width: $screen-md) {
        margin-top: 0px;
        margin-bottom: $gap-2;
      }
    }
  }
}

.signature {
  margin-top: $gap-2;
  max-width: 75px;

  @media (max-width: $screen-md) {
    max-width: 50px;
  }
}
