@use 'src/assets/css/partials/index' as *;

@mixin padding($name, $padding, $padding-sm, $padding-md) {
  &.#{$name} {
    padding: $padding;

    @media (max-width: $breakpoints-sm) {
      padding: $padding-sm;
    }

    @media (max-width: $breakpoints-md) {
      padding: $padding-md;
    }
  }
}

.button,
button {
  @include fonts-md;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  font-family: $fonts-primary;
  padding: $gaps-gap-2 $gaps-gap-3;
  color: $colors-main;
  border: 2px solid $colors-monochrome-10;
  background: none;

  &:focus,
  &:active,
  &:hover {
    outline: none;
  }

  // Square buttons (usually used with icons?)
  &.squared {
    width: 48px;
    height: 48px;
    padding: 0px !important;
    justify-content: center;
    align-items: center;
  }

  // Sizes
  &.sm {
    @include fonts-sm;
    padding: $gaps-gap-1 $gaps-gap-2;

    @media (max-width: $breakpoints-md) {
      @include fonts-xs;
    }

    &.squared {
      width: 36px;
      height: 36px;
    }
  }

  &.lg {
    @include fonts-lg;
    padding: $gaps-gap-4 $gaps-gap-5;

    @media (max-width: $breakpoints-md) {
      @include fonts-md;
    }

    &.squared {
      width: 56px;
      height: 56px;
    }
  }

  // Colors
  &.white {
    background: $colors-monochrome-1;
    --color-icon: #{$colors-main}; // For icons nested in the button
    color: $colors-main;
    border: 2px solid $colors-monochrome-10;

    &:hover {
      background: #f2f2f2;
    }

    &.inverted {
      background: $colors-monochrome-10;
      --color-icon: #{$colors-monochrome-1};
      color: $colors-monochrome-1;
      border: 2px solid $colors-monochrome-10;

      &:disabled {
        background: $colors-monochrome-7;
      }
    }
  }

  &.light-blue {
    background: $colors-track-light-blue;
    color: $colors-monochrome-1;
    --color-icon: #{$colors-monochrome-1};
    border-color: $colors-track-light-blue;

    &.inverted {
      background: $colors-monochrome-1;
      color: $colors-track-light-blue;
      --color-icon: #{$colors-track-light-blue};
    }
  }

  &.blue {
    background: $colors-track-blue;
    color: $colors-monochrome-1;
    --color-icon: #{$colors-monochrome-1};
    border-color: $colors-track-blue;

    &.inverted {
      background: $colors-monochrome-1;
      color: $colors-track-blue;
      --color-icon: #{$colors-track-blue};
    }
  }
}
