@use 'src/assets/css/partials/index' as *;

.scrollbar {
  @include general-scrollbar;
}

.no-select {
  user-select: none;
}

.aspect {
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;

  &.square {
    padding-bottom: 100%;
  }

  > * {
    position: absolute !important;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
