@use 'src/assets/css/partials/index' as *;

.dropdown {
  @media (min-width: $breakpoints-md + 1) {
    display: none !important;
  }
}

.filter {
  display: flex;
  flex-wrap: wrap;

  p {
    cursor: pointer;
    padding: $gaps-gap-2;
    @include gaps-responsive-gap($attribute: margin, $right: $gaps-gap-8, $min-gap: $gaps-gap-2);

    &:hover {
      @include fonts-bold;
    }

    &:last-child {
      margin-right: 0px;
    }
  }

  .active-filter {
    @include fonts-bold;
    border-bottom: 2px solid $colors-monochrome-10;
  }

  @media (max-width: $breakpoints-md) {
    display: none;
  }
}

.link {
  border: 1px solid $colors-track-pink;
}

.icon {
  margin-left: $gaps-gap-4;
}
