@use 'src/assets/css/variables' as *;
@use 'src/assets/css/partials/gaps';
@use 'src/assets/css/partials/fonts';

.background {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-image: url('src/assets/images/ask_background.png');
  background-position: 75%;

  @media (max-width: $screen-md) {
    background-position: 0%;
  }
}

.container { 
  display: flex;
  flex-direction: column;
  width: 60%;
  height: 100%;
  background: #fff;
  padding: $gap-6;

  @media (max-width: $screen-md) {
    width: 100%;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-bottom: $gap-4;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.content { 
  overflow-y: auto;
  height: 100%;
  width: 100%;
  padding-right: $gap-4;

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.05);
  }

  &::-webkit-scrollbar-thumb {
    background: #c1c1c1;
    border-radius: 5px;
  }
}

.marker {
  position: absolute;
  right: 16%;
  bottom: 10%;
  cursor: pointer;

  @media (max-width: $screen-xxl) {
    right: 13%;
  }

  @media (max-width: $screen-xl) {
    right: 9%;
  }

  @media (hover: none) {
    display: none;
  }

  @media (max-width: $screen-md) {
    display: none;
  }
}