@use 'src/assets/css/variables' as *;
@use 'src/assets/css/partials/fonts';

.navigation {
  display: none;
  flex-direction: row;
  min-width: 0;
  flex-wrap: wrap;
  font-family: $font-secondary;

  @media (min-width: $screen-lg) {
    display: flex;
  }

  > li {
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-right: 24px;
    position: relative;

    &:hover {
      .foldout {
        display: block;
      }
    }

    &:last-child {
      .foldout {
        right: 0px;
        left: unset;
      }
    }

    .foldout {
      position: absolute;
      padding: 16px;
      z-index: 1;
      padding-right: 64px;
      top: 100%;
      left: 0px;
      width: 254px;
      box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.1);
      display: none;
      color: $color-primary;
      background-color: #ffffff;

      .foldout-link {
        text-transform: uppercase;
      }

      > ul {
        list-style-type: none;
        > li {
          margin-top: 8px;
        }
      }

      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0.1;
        background-image: url('src/assets/images/foldout-backdrop.svg');
        background-repeat: no-repeat;
        background-position: center right;
      }
    }
  }
}

.foldout-link {
  position: relative;
  cursor: pointer;
  padding: 4px;

  &:hover {
    text-decoration: underline;
  }
}


.foldout-header {
  @include fonts.font-xxs;
  font-family: $font-secondary;
  line-height: 100%;
  opacity: 0.5;
  text-transform: uppercase;
}