@use 'src/assets/css/variables' as *;
@use 'src/assets/css/partials/gaps';
@use 'src/assets/css/partials/fonts';

.background {
  width: 100%;
  height: 100%;
  background-color: #f3f9ff;
}

.container { 
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: #fff;
  padding: $gap-6;
}


.header {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  // margin-bottom: $gap-4;
}

.dropdown {
  @media (min-width: $screen-md) { 
    display: none;
  }
}

.filter { 
  @media (max-width: $screen-md) { 
    display: none;
  }
}

.gradient {
  height: 100%;
  width: 100%;
}

.content {
  flex: 1;
  overflow: auto;
  padding-bottom: 20px; // scroll gradient

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.05);
  }

  &::-webkit-scrollbar-thumb {
    background: #c1c1c1;
    border-radius: 5px;
  }
}