@layer components {
  .button-primary {
    cursor: pointer;
    background-color: theme("colors.primary.DEFAULT");
    color: theme("colors.secondary.dark");
    padding: theme("spacing.4") theme("spacing[3.5]");

    &:hover {
      background-color: theme("colors.primary.light");
    }

    &:active {
      background-color: theme("colors.primary.dark");
    }

    &:disabled {
      background-color: theme("colors.primary.opaque");
    }
  }

  .button-secondary {
    cursor: pointer;
    background-color: theme("colors.secondary.DEFAULT");
    color: theme("colors.secondary.dark");
    padding: theme("spacing.4") theme("spacing[3.5]");

    &:hover {
      background-color: theme("colors.secondary.light");
    }

    &:active {
      background-color: theme("colors.secondary.dark");
    }

    &:disabled {
      background-color: theme("colors.secondary.opaque");
    }
  }

  .button-tertiary {
    cursor: pointer;
    background-color: theme("colors.tertiary.DEFAULT");
    color: theme("colors.secondary.dark");
    padding: theme("spacing.4") theme("spacing[3.5]");

    &:hover {
      background-color: theme("colors.tertiary.light");
    }

    &:active {
      background-color: theme("colors.tertiary.dark");
    }

    &:disabled {
      background-color: theme("colors.tertiary.opaque");
    }
  }
}
