@use 'assets/css/partials/index' as *;

.hero {
  margin-top: $gaps-gap-4;
  padding-bottom: $gaps-gap-4;
  max-width: 800px;


  @media (min-width: $breakpoints-md) {
    display: flex;
    flex-direction: row;
    max-width: none;
    
    > * {
      flex-basis: 50%;
      flex-shrink: 0;
    }

    .text {
      padding-top: 0px;
      border: none !important;
    }
  }

  .image-container {

  }

  .text {
    padding: $gaps-gap-4;
    border: 1px solid $colors-standard-border-color;
    border-top: none;

    .title {
      @include fonts-bold;
      margin-bottom: $gaps-gap-3;
    }

    .description {
      color: $colors-monochrome-6;
    }
  }
}

.latest-notification {
  border-top: 1px solid $colors-standard-border-color;
}

.quicklinks {
  padding-top: $gaps-gap-4;
  padding-bottom: $gaps-gap-4;
  border-bottom: 1px solid $colors-standard-border-color;

  .title-container {
    position: relative;
    display: flex;
    justify-content: space-between;

    .dropdown {
      top: -$gaps-gap-2;
      right: -2px;
      z-index: 1;
      position: absolute;
    }
  }
}
