@use 'assets/css/partials/index' as *;

.faq {
  // h4 {
  //   margin-top: $gaps-gap-4;
  //   padding-bottom: $gaps-gap-2;
  //   border-bottom: 1px solid $colors-standard-border-color;
  // }

}

.links {
  padding: $gaps-gap-4 0px;
}

.subheader-content {
  margin-bottom: $gaps-gap-4;
}

.feedback-form {
  > * {
    margin-bottom: $gaps-gap-3;
  }

  button {
    // width: 100%;
  }
}
