@use 'src/assets/css/variables' as *;

.navigation {
  margin-left: 15px;
  list-style-type: disc;
  list-style-position: inside;
}

.navigation ul {
  list-style-type: circle;
  list-style-position: inside;
  margin-left: 15px;
}

.navigation a:hover {
  color: $color-secondary;
}
