@use 'src/assets/css/variables' as *;
@use 'src/assets/css/partials/gaps';
@use 'src/assets/css/partials/fonts';

.container {
  svg {
    fill: $color-primary;
  }
}

.event {
  padding: $gap-4 $gap-6;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: flex-start;
  
  &:hover { 
    background: rgba(0, 0, 0, 0.05);
  }

  div:last-child {
    margin-left: auto;
  }

  &:last-child {
    border-bottom: 0;
  }
}

.past-event { 
  @extend .event;
  opacity: 0.4;
}

.day { 
  @include fonts.font-xxl;
  @include fonts.font-tertiary;
  display: block;
}

.month { 
  @include fonts.font-sm;
  @include fonts.font-secondary;
  @include fonts.bold;
  display: block;
  text-transform: uppercase;
}

.event-add { 
  cursor: pointer;
  margin-top: $gap-2;
  display: block;

  svg {
    fill: rgba(0, 0, 0, 0.2);
  }
}

.date { 
  @include fonts.font-xs;
  line-height: 1.5rem;
  text-transform: uppercase;
}

.title { 
  @include fonts.font-lg;
}

.url { 
  @include fonts.font-xs;
  @include fonts.semi-bold;
  display: block;
  margin-top: $gap-6;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.4);
}

.date-column { 
  margin-right: $gap-16;

  @media (max-width: $screen-sm) {
    display: none;
  }
}

.image-column { 
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  width: $size-88;
  height: $size-40;
  position: relative;

  @media (max-width: $screen-sm) {
    width: $size-64;
    height: $size-32;
  }

  img { 
    position: absolute;
    max-height: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

