@use 'src/assets/css/variables' as *;

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.25);
  cursor: pointer;

  .content {
    box-shadow: 0px 4px 11px rgb(0 0 0 / 10%);
    max-height: calc(100% - #{$gap-8});
    padding: $gap-8;
    margin: $gap-4;
    background: white;
    position: relative;
    overflow: auto;
    cursor: auto;

    @media (max-width: $screen-sm) {
      padding: $gap-4;
    }

    .close {
      position: absolute;
      font-size: 14px;
      z-index: 1;
      top: $gap-8;
      right: $gap-8;

      @media (max-width: $screen-sm) {
        top: $gap-4;
        right: $gap-4;
      }
      cursor: pointer;
    }
  }
}
