@use 'src/assets/css/variables' as *;

header {
  display: flex;
  justify-content: space-between;
}

header h1 a {
  color: $color-primary;
  text-decoration: none;
}

header h1 a:hover {
  color: $color-primary;
}
