@use 'src/assets/css/partials/index' as *;

:root {
  --text-color: inherit; // Since icons don't respond to the color attribute (they use fill), they can use this variable to retrieve the color context
  --primary-color: $colors-primary;
}

.dark-mode {
  --primary-color: $colors-primary-dark;
}
