@use 'src/assets/css/partials/index' as *;

:root {
  --text-color: inherit; // Since icons don't respond to the color attribute (they use fill), they can use this variable to retrieve the color context

  // Components should not use color variables directly; referencing the CSS variable version of the color allows us to theme the site (e.g. dark mode) by overriding the variables later
  --color-primary: $colors-primary;
  --color-main: $colors-main;
  --color-main-light: $colors-main-light;
  --color-track-blue: $colors-track-blue;
  --color-track-light-blue: $colors-light-blue;
  --color-track-teal: $colors-track-teal;
  --color-track-green: $colors-track-green;
  --color-track-yellow: $colors-track-yellow;
  --color-track-orange: $colors-track-orange;
  --color-track-pink: $colors-track-pink;
  --color-track-purple: $colors-track-purple;
  --color-ef-green: $colors-ef-green;
  --color-ef-blue: $colors-ef-blue;
  --color-ef-beige: $colors-ef-beige;
  --color-ef-pink: $colors-ef-pink;
  --color-system-success: $colors-system-success;
  --color-system-error: $colors-system-error;
  --color-system-warning: $colors-system-warning;
}

.dark-mode {
  // override colors...
}
