@use 'assets/css/partials/index' as *;
@use 'global/general';
@use 'global/buttons';
@use 'global/list';
@use 'global/labels';
@use 'global/gaps';
@use 'global/fonts';
@use 'global/markdown';
@use 'global/icons';
@use 'global/layout';
@use 'global/colors';
@use 'global/page';
@use 'vendor/react-slick.scss';
@use 'vendor/react-toggle.scss';

* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  min-height: 0;
  min-width: 0;
}

html {
  position: relative;
  margin: 0 auto;
  font-family: $fonts-primary;
  color: $colors-main;
  scroll-behavior: smooth;

  // Scales entire app
  font-size: 16px;

  @media (max-width: $breakpoints-lg) {
    font-size: 14px;
  }

  @media (max-width: $breakpoints-md) {
    font-size: 12px;
  }
}

body {
  position: relative;
  overflow-x: hidden;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: none;
  @include fonts-md; 
}

.section-markdown {
  // padding: 0px 0;

  h2 {
    // @include fonts-spaced;
  }

  h3 {
    // @include fonts-spaced;
    @include fonts-highlighted;
    margin-top: 16px; // $standard-spacing / 2;
  }

  hr {
    // margin: 32px 0; // $standard-spacing:
    border-bottom: 1px solid $colors-monochrome-5;
  }

  p {
    &:first-child {
      @include fonts-highlighted-title;
    }
  }

  // a {
  //   text-decoration: underline;
  // }
}
