// https://twitter.com/max_strebel/status/1051435009373016065
// Color goal: Have a list of specific colors, map them to primary/secondary/tertiary

// Core colors
$color-primary: #30354b;
$color-primary-light: #30354b;
$color-primary-dark: #30354b;
$color-primary-opaque: #30354b;
$color-secondary: #0daed0;
$color-secondary-light: #30354b;
$color-secondary-dark: #30354b;
$color-secondary-opaque: #30354b;
$color-tertiary: #fbcd11;
$color-tertiary-light: #30354b;
$color-tertiary-dark: #30354b;
$color-tertiary-opaque: #1b1d24;

// Fonts
$font-primary: 'Montserrat', sans-serif;
$font-secondary: 'Roboto', serif;
$font-tertiary: 'Space Mono', monospace;

// Sizes relative to root font-size
$size-1: 0.125rem; // 2px (assuming root font-size is 16px)
$size-2: $size-1 * 2;
$size-3: $size-1 * 3;
$size-4: $size-1 * 4; // 0.5rem 8px
$size-5: $size-1 * 5;
$size-6: $size-1 * 6;
$size-7: $size-1 * 7;
$size-8: $size-1 * 8; // 1rem 16px
$size-9: $size-1 * 9;
$size-10: $size-1 * 10;
$size-11: $size-1 * 11;
$size-12: $size-1 * 12;
$size-13: $size-1 * 13;
$size-14: $size-1 * 14;
$size-15: $size-1 * 15;
$size-16: $size-1 * 16; // 2rem 32px
$size-20: $size-1 * 20; // 2rem 40px;
$size-32: $size-1 * 32; // 4rem 64px;

// Content boundary (borders, background images, etc. can extend this, but the "inner" content of sections should be bounded by this value)
$content-width: 1680px;

// Screens
$screen-tiny: 410px;
$screen-sm: 640px;
$screen-md: 768px;
$screen-lg: 1024px;
$screen-xl: 1280px;
$screen-xxl: 1536px;
