// This file is purely "ethereal"; if anything in this file is computed to a style it will be replicated each time it's imported. Don't put any CSS selectors here.

// Colors
$color-primary: #30354b;
$color-primary-light: #30354b;
$color-primary-dark: #30354b;
$color-primary-opaque: #30354b;
$color-secondary: #0daed0;
$color-secondary-light: #30354b;
$color-secondary-dark: #30354b;
$color-secondary-opaque: #30354b;
$color-tertiary: #fbcd11;
$color-tertiary-light: #30354b;
$color-tertiary-dark: #30354b;
$color-tertiary-opaque: #1b1d24;

// Fonts
$font-primary: 'Montserrat', sans-serif;
$font-secondary: 'Roboto', serif;
$font-tertiary: 'Space Mono', monospace;

// Sizes
// $size-1: 0.25rem; // 4px (assuming root font-size 16px)
// $size-2: $size-1 * 2;
// $size-3: $size-1 * 3;
// $size-4: $size-1 * 4; // 1rem 16px
// $size-5: $size-1 * 5;
// $size-6: $size-1 * 6;
// $size-7: $size-1 * 7;
// $size-8: $size-1 * 8; // 2rem 32px
// $size-16: $size-1 * 16; // 4rem 64px

// Sizes relative to root font-size
$size-1: 0.125rem; // 2px (assuming font-size in context is 16px)
$size-2: $size-1 * 2;
$size-3: $size-1 * 3;
$size-4: $size-1 * 4; // 0.5rem 8px
$size-5: $size-1 * 5;
$size-6: $size-1 * 6;
$size-7: $size-1 * 7;
$size-8: $size-1 * 8; // 1rem 16px
$size-9: $size-1 * 9;
$size-10: $size-1 * 10;
$size-11: $size-1 * 11;
$size-12: $size-1 * 12;
$size-13: $size-1 * 13;
$size-14: $size-1 * 14;
$size-15: $size-1 * 15;
$size-16: $size-1 * 16; // 2rem 32px
$size-20: $size-1 * 20; // 2rem 40px;
$size-32: $size-1 * 32; // 4rem 64px;

$size-1-px: 2px;
$size-2-px: $size-1 * 2;
$size-3-px: $size-1 * 3;
$size-4-px: $size-1 * 4; // 8px
$size-5-px: $size-1 * 5;
$size-6-px: $size-1 * 6;
$size-7-px: $size-1 * 7;
$size-8-px: $size-1 * 8; // 16px
$size-9-px: $size-1 * 9;
$size-10-px: $size-1 * 10;
$size-11-px: $size-1 * 11;
$size-12-px: $size-1 * 12;
$size-13-px: $size-1 * 13;
$size-14-px: $size-1 * 14;
$size-15-px: $size-1 * 15;
$size-16-px: $size-1 * 16; // 32px
$size-20-px: $size-1 * 20; // 40px;
$size-32-px: $size-1 * 32; // 64px;

// Sizes relative to font-size in context
// $size-1-rem: 0.125rem; // 2px (assuming root font-size 16px)
// $size-2-rem: $size-1 * 2;
// $size-3-rem: $size-1 * 3;
// $size-4-rem: $size-1 * 4; // 0.5em 8px
// $size-5-rem: $size-1 * 5;
// $size-6-rem: $size-1 * 6;
// $size-7-rem: $size-1 * 7;
// $size-8-rem: $size-1 * 8; // 1em 16px
// $size-9-rem: $size-1 * 9;
// $size-10-rem: $size-1 * 10;
// $size-11-rem: $size-1 * 11;
// $size-12-rem: $size-1 * 12;
// $size-13-rem: $size-1 * 13;
// $size-14-rem: $size-1 * 14;
// $size-15-rem: $size-1 * 15;
// $size-16-rem: $size-1 * 16; // 2em 32px
// $size-20-rem: $size-1 * 20; // 2em 40px;
// $size-32-rem: $size-1 * 32; // 4em 64px;

// Screens
$screen-tiny: 410px;
$screen-sm: 640px;
$screen-md: 768px;
$screen-lg: 1024px;
$screen-xl: 1280px;
$screen-xxl: 1536px;

// font-primary font-big

// @mixin font-xs($font-family: $font-primary) {
//   font-family: $font-family;
//   font-size: 0.75rem;
//   line-height: 1rem;
// }

// @mixin font-sm($font-family: $font-primary) {
//   font-family: $font-family;
//   font-size: 0.875rem;
//   line-height: 1.25rem;
// }

// @mixin font($font-family: $font-primary) {
//   font-family: $font-family;
//   font-size: 1rem;
//   line-height: 1.5rem;
// }

// @mixin font-lg($font-family: $font-primary) {
//   font-family: $font-family;
//   font-size: 1.125rem;
//   line-height: 1.25rem;
// }

// @mixin font-xl($font-family: $font-primary) {
//   font-family: $font-family;
//   font-size: 1.25rem;
//   line-height: 1.25rem;
// }
