@use 'src/assets/css/partials/index' as *;

.container {
  --theme-logo: url('src/assets/images/archive/archive-logo.svg');
  --theme-gradient: linear-gradient(to right, #edeccd 0%, #f1c4bb 50%, #d7cdd3 100%);
  overflow-x: hidden;

  .hero-staff-picks {
    position: relative;
    height: 100%;

    :global(.label) {
      margin-bottom: $gaps-gap-4;
    }

    .metadata {
      display: flex;
    }

    .img {
      position: absolute;
      right: 0px;
      top: 0px;
      bottom: 0px;
      width: 20%;
    }
  }

  .editions {
    border-top: 1px solid $colors-monochrome-5;
    padding-top: $gaps-gap-8;
    margin-bottom: $gaps-gap-8;
  }

  .staff-picks {
    border-top: 1px solid $colors-monochrome-5;
    padding-top: $gaps-gap-8;
    padding-bottom: $gaps-gap-16;
  }

  .curated-playlists {
    border-top: 1px solid $colors-monochrome-5;
  }

  .playlists {
    border-top: 1px solid $colors-monochrome-5;
  }
}

.page-hero-scene {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: space-between;
  margin-bottom: $gaps-gap-4;

  .body {
    text-wrap: nowrap;

    :global(.label) {
      margin-bottom: $gaps-gap-2;
    }

    .description {
      overflow: hidden;
      -webkit-box-orient: vertical;
      display: -webkit-box;
      -webkit-line-clamp: 3;
    }
  }

  .metadata {
    margin-top: $gaps-gap-4;
    display: flex;

    > * {
      margin-left: $gaps-gap-4;

      &:first-child {
        margin-left: 0px;
      }
    }
  }
}

.call-to-action {
  height: 48px;
  margin-right: $gaps-gap-3;

  .watch-now {
    text-transform: uppercase;
    margin-right: $gaps-gap-2;
  }

  .watch-now-icon {
    position: relative;
    top: -1px;
  }
}
