@use 'src/assets/css/partials/index' as *;

.container {
  // --theme-logo: url('src/assets/images/archive/archive-logo.svg');
  --theme-logo: url('src/assets/images/theme/news.svg');
  --theme-gradient-background-color: #f1d8c3;
  --theme-gradient: radial-gradient(
    73.15% 179.46% at 90.19% 25.94%,
    #e55066 0%,
    rgba(255, 183, 0, 0.4) 58.33%,
    rgba(255, 184, 0, 0) 100%
  );

  .hero-staff-picks {
    position: relative;
    height: 100%;

    :global(.label) {
      margin-bottom: $gaps-gap-4;
    }

    .metadata {
      display: flex;
    }

    .img {
      position: absolute;
      right: 0px;
      top: 0px;
      bottom: 0px;
      width: 20%;
    }
  }

  .staff-picks {
    border-top: 1px solid $colors-monochrome-5;
    padding-top: $gaps-gap-8;
    padding-bottom: $gaps-gap-16;
  }

  .curated-playlists {
    border-top: 1px solid $colors-monochrome-5;
  }

  .playlists {
    border-top: 1px solid $colors-monochrome-5;
  }
}
