@use 'src/assets/css/partials/index' as *;

.container {
  display: flex;

  @media (max-width: $breakpoints-md) {
    flex-direction: column;
  }

  .numbers {
    display: flex;
    flex-direction: column;

    @media (max-width: $breakpoints-md) {
      order: 3;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      margin-top: $gaps-gap-4;
    }

    .edition {
      cursor: pointer;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .number {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: $sizes-size-7;
        padding: 0 $gaps-gap-4;

        @media (max-width: $breakpoints-lg) {
          @include fonts-lg-fixed;
        }
      }

      .conference {
        display: none;
      }
    }

    .selected {
      @extend .edition;
      cursor: auto;

      .number {
        @extend .number;
        background: $colors-monochrome-3;
        border-radius: 50%;
        height: 48px;
        width: 48px;
        font-size: $sizes-size-10;

        @media (max-width: $breakpoints-lg) {
          @include fonts-xl-fixed;
        }
      }

      .conference {
        display: flex;
        flex: 0 1 auto;
        writing-mode: tb-rl;
        transform: rotate(-180deg);
        text-transform: uppercase;
        font-size: $sizes-size-4;
        padding: $gaps-gap-4 0;
        color: #bcbfca;

        @media (max-width: $breakpoints-md) {
          display: none;
        }
      }
    }
  }

  .image {
    flex: 0 1 45%;
    padding: 0 $gaps-gap-8;

    @media (max-width: $breakpoints-md) {
      flex: 0 1 auto;
      padding: 0;
    }

    > * {
      height: 420px;

      @media (max-width: $breakpoints-md) {
        flex: 0 1 auto;
      }

      @media (max-width: $breakpoints-sm) {
        height: 360px;
      }
    }
  }

  .info {
    display: flex;
    flex: 1 0 45%;
    flex-direction: column;
    justify-content: flex-end;

    @media (max-width: $breakpoints-md) {
      flex: 0 1 auto;
    }

    .title {
      margin-top: $gaps-gap-10;

      @media (max-width: $breakpoints-md) {
        margin-top: $gaps-gap-5;
      }
    }

    .description {
      margin: $gaps-gap-8 0;

      @media (max-width: $breakpoints-md) {
        margin: $gaps-gap-4 0;
      }
    }

    .buttons {
      padding: 0;

      .button {
        margin-right: $gaps-gap-4;

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}
