@use 'src/assets/css/partials/index' as *;

.container {
  display: flex;
  margin-top: $gaps-gap-16;
  margin-bottom: $gaps-gap-16;
  // align-items: flex-start;
  background: $colors-monochrome-1;

  @media (max-width: 1300px) {
    flex-direction: column;
  }

  .video {
    position: relative;
    flex-grow: 1;
    width: 100%;

    .content {
      // border-bottom: 1px solid $colors-monochrome-5;
      padding-top: $gaps-gap-6;
      padding-bottom: $gaps-gap-2;

      h1 {
        margin-bottom: $gaps-gap-4;
        color: $colors-monochrome-7;
      }

      .descriptors {
        display: flex;
        margin-bottom: $gaps-gap-3;

        .descriptor {
          @include fonts-bold;
          @include fonts-xs;

          text-transform: uppercase;
          margin-right: $gaps-gap-4;

          > span {
            font-weight: 500;
            color: $colors-monochrome-7;
            margin-right: $gaps-gap-2;
          }
        }
      }

      .description {
        display: flex;
        border-top: 1px solid $colors-monochrome-5;
        padding-top: $gaps-gap-4;
        padding-bottom: $gaps-gap-6;

        .text {
          flex-basis: 80%;
        }
      }
    }

    .speakers {
      display: flex;
      border-top: 1px solid $colors-monochrome-5;
      padding-top: $gaps-gap-10;
      padding-right: $gaps-gap-4;

      .speaker {
        display: flex;
        border: 1px solid $colors-monochrome-5;
        padding: $gaps-gap-4;

        .title {
          display: flex;

          &:first-child {
            margin-right: $gaps-gap-2;
          }
        }

        .thumbnail {
          flex-shrink: 0;
          height: 50px;
          width: 50px;
          border-radius: 50%;
          margin-right: $gaps-gap-2;
        }

        .text {
          color: $colors-monochrome-7;
        }
      }
    }
  }

  .suggested {
    border: 1px solid $colors-monochrome-5;
    flex-basis: 480px;
    // max-width: 30%;
    // max-height: 1200px;
    flex-grow: 1;
    flex-shrink: 0;

    @media (max-width: $breakpoints-lg) {
      flex-shrink: 1;
      flex-basis: auto;
      width: 100%;
      max-height: none;
    }

    .description {
      padding: $gaps-gap-4;
      border-bottom: 1px solid $colors-monochrome-5;
    }

    .list {
      padding: $gaps-gap-4;

      > * {
        margin-bottom: $gaps-gap-4;
      }
    }
  }
}

.labels-container {
  display: flex;

  .group {
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    margin-bottom: $gaps-gap-4;

    &:nth-child(2) {
      margin-left: $gaps-gap-4;
    }

    > p {
      color: $colors-monochrome-7;
      margin-bottom: $gaps-gap-1;
    }

    .labels {
      display: flex;

      :global(.label) {
        margin-right: $gaps-gap-1;
      }
    }
  }
}
