@use 'src/assets/css/partials/index' as *;

$left-column-width: 30%;

.container {
  --theme-logo: url('src/assets/images/archive/archive-logo.svg');
  --theme-gradient: linear-gradient(to right, #edeccd 0%, #f1c4bb 50%, #d7cdd3 100%);

  .search-sort {
    display: flex;
    align-items: center;
    padding-bottom: $gaps-gap-10;
    border-bottom: 1px solid $colors-monochrome-5;

    @media (max-width: $breakpoints-lg) {
      padding-bottom: $gaps-gap-6;
    }

    .search {
      flex-basis: $left-column-width;
      margin-right: $gaps-gap-8;

      @media (max-width: $breakpoints-lg) {
        flex-basis: 100%;
        margin-right: 0px;
      }
    }
  }

  .content {
    display: flex;
    margin-bottom: $gaps-gap-10;

    @media (max-width: $breakpoints-lg) {
      flex-direction: column;
    }

    .videos {
      flex-grow: 1;
      margin-top: $gaps-gap-8;

      @media (max-width: $breakpoints-lg) {
        padding-top: $gaps-gap-4;
        border-top: 1px solid $colors-monochrome-5;
        margin-top: 0px;
      }

      .header {
        display: flex;
        justify-content: space-between;
        padding-bottom: $gaps-gap-8;

        @media (max-width: $breakpoints-lg) {
          padding-bottom: $gaps-gap-4;
        }

        .view-toggle {
          @include fonts-xl;

          @media (max-width: $breakpoints-lg) {
            display: none;
          }

          :global(.icon) {
            margin-left: $gaps-gap-4;
            cursor: pointer;

            &.faded {
              --color-icon: #{$colors-monochrome-6};
            }
          }
        }
      }

      .video-list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-row-gap: $gaps-gap-4;
        grid-column-gap: $gaps-gap-8;

        &:not(.mobile) {
          @media (max-width: $breakpoints-lg) {
            display: none;
          }
        }

        &.mobile {
          display: none;

          @media (max-width: $breakpoints-lg) {
            display: grid;
          }
        }

        @media (max-width: $breakpoints-lg) {
          grid-template-columns: 1fr !important;
        }

        &.list-view {
          grid-template-columns: 1fr;
        }

        // > * {
        //   flex-basis: 50%;
        // }
      }
    }
  }
}

.sort {
  display: block;
  // overflow-x: auto;

  @media (max-width: $breakpoints-lg) {
    display: none;
  }

  &.mobile {
    display: none;

    @media (max-width: $breakpoints-lg) {
      display: block !important;
    }
  }
}
