.container {
  --theme-logo: url('src/assets/images/archive/archive-logo-menu.svg');
  --theme-gradient: linear-gradient(to right, #edeccd 0%, #f1c4bb 50%, #d7cdd3 100%);
  .search {
  }

  .content {
    display: flex;

    .filter {
      flex-basis: 30%;
      flex-shrink: 0;

      .header {
        display: flex;
        justify-content: space-between;
      }
    }

    .videos {
      flex-grow: 1;

      .header {
        display: flex;
        justify-content: space-between;
      }
    }
  }
}
