backend:
  name: git-gateway
  repo: efdevcon/devcon-website
  branch: feature-portal
  accept_roles:
    - admin
    - editor

slug:
  encoding: 'ascii'
  clean_accents: true
  sanitize_replacement: '-'

local_backend: true
publish_mode: editorial_workflow
media_folder: static/assets/uploads/images
public_folder: /assets/uploads/images

i18n:
  structure: multiple_folders
  locales: [en, es]
  default_locale: en

collections:
  - name: 'pages'
    label: 'Pages'
    label_singular: 'Page'
    folder: 'src/content/pages'
    slug: '{{slug}}'
    create: true
    i18n: true
    fields:
      - { name: 'title', label: 'Title', widget: 'string', i18n: true }
      - { name: 'description', label: 'Description', widget: 'text', i18n: true, required: false }
      - { name: 'body', label: 'Body', widget: 'markdown', i18n: true }
      - {
          name: 'tags',
          label: 'Tags',
          widget: 'relation',
          i18n: 'duplicate',
          required: false,
          collection: 'tags',
          value_field: 'title',
          search_fields: ['title'],
          multiple: true,
        }
      - {
          name: 'template',
          label: 'Template',
          widget: 'select',
          i18n: 'duplicate',
          options: ['none', 'content', 'dips', 'faq', 'city-guide', 'road-to-devcon'],
          default: 'content',
        }
      - {
          name: 'translationVerified',
          label: 'If this translation has been (manually) verified',
          widget: 'boolean',
          i18n: 'duplicate',
          required: false,
          default: false,
        }

  - name: 'news'
    label: 'News'
    label_singular: 'News item'
    folder: 'src/content/news'
    create: true
    i18n: true
    fields:
      - { name: 'url', label: 'URL', widget: 'string', i18n: 'duplicate', required: true }
      - { name: 'title', label: 'Title', widget: 'string', i18n: true, required: true }
      - {
          name: 'description',
          pattern: ['^.{0,280}$', 'Must have less than 280 characters'],
          label: 'Description',
          widget: 'text',
          i18n: true,
          required: false,
        }
      - { name: 'date', label: 'Date', widget: datetime, picker_utc: true, i18n: 'duplicate', required: true }
      - { name: 'metadata', label: 'Metadata', widget: text, i18n: 'duplicate', required: false }

  - name: 'Content sections'
    label: 'Content sections'
    label_singular: 'Content section'
    folder: 'src/content/sections'
    create: true
    i18n: true
    fields:
      - { name: 'title', label: 'Title', widget: 'string', i18n: true }
      - {
          name: 'showTitle',
          label: 'Show title',
          widget: 'boolean',
          i18n: 'duplicate',
          required: false,
          default: false,
        }
      - { name: 'left', widget: 'markdown', i18n: true }
      - { name: 'right', widget: 'markdown', i18n: true }

  - name: faq
    label: FAQ
    label_singular: FAQ
    folder: src/content/faq
    create: true
    i18n: true
    fields:
      - { name: title, label: Title, widget: string, i18n: true }
      - { name: body, label: Body, widget: markdown, i18n: true }
      - {
          name: category,
          label: Category,
          widget: relation,
          i18n: duplicate,
          collection: categories,
          value_field: '{{slug}}',
          search_fields: ['title'],
          multiple: false,
        }
      - {
          name: order,
          label: Order,
          widget: number,
          i18n: duplicate,
          required: false,
          value_type: int,
          min: 1,
          max: 1000,
          step: 1,
        }

  - name: categories
    label: Categories
    label_singular: Category
    folder: src/content/categories
    create: true
    i18n: true
    fields:
      - { name: title, label: Title, widget: string, i18n: true }

  - name: tags
    label: Tags
    label_singular: Tag
    folder: src/content/tags
    create: true
    i18n: true
    fields:
      - { name: title, label: Title, widget: string, i18n: true }

  - name: headers
    label: Headers
    label_singular: Header
    folder: src/content/headers
    create: true
    i18n: true
    fields:
      - { name: title, label: Title, widget: string, i18n: true }

  - name: links
    label: Links
    label_singular: Link
    folder: src/content/links
    create: true
    i18n: true
    fields:
      - { name: title, label: Title, widget: string, i18n: true }
      - { name: url, label: URL, widget: string, i18n: duplicate }

  - name: navigation
    label: Navigation
    label_singular: Navigation
    folder: src/content/navigation
    create: true
    i18n: false
    fields:
      - { name: title, label: Title, widget: string }
      - label: Links
        name: links
        widget: list
        collapsed: false
        types:
          - label: Page
            name: page
            fields:
              - {
                  name: slug,
                  label: Page,
                  value_field: '{{slug}}',
                  search_fields: ['{{slug}}'],
                  widget: relation,
                  collection: pages,
                }
          - label: Link
            name: link
            fields:
              - {
                  name: slug,
                  label: Link,
                  value_field: '{{slug}}',
                  search_fields: ['{{slug}}'],
                  widget: relation,
                  collection: links,
                }
          - label: Header
            name: header
            fields:
              - {
                  name: slug,
                  label: Header,
                  value_field: '{{slug}}',
                  search_fields: ['{{slug}}'],
                  widget: relation,
                  collection: headers,
                }
          - label: Links
            name: links
            fields:
              - {
                  name: slug,
                  label: Header,
                  value_field: '{{slug}}',
                  search_fields: ['{{slug}}'],
                  widget: relation,
                  collection: headers,
                }
              - label: Links
                name: links
                widget: list
                types:
                  - label: Page
                    name: page
                    fields:
                      - {
                          name: slug,
                          label: Page,
                          value_field: '{{slug}}',
                          search_fields: ['{{slug}}'],
                          widget: relation,
                          collection: pages,
                        }
                  - label: Link
                    name: link
                    fields:
                      - {
                          name: slug,
                          label: Link,
                          value_field: '{{slug}}',
                          search_fields: ['{{slug}}'],
                          widget: relation,
                          collection: links,
                        }
                  - label: Header
                    name: header
                    fields:
                      - {
                          name: slug,
                          label: Header,
                          value_field: '{{slug}}',
                          search_fields: ['{{slug}}'],
                          widget: relation,
                          collection: headers,
                        }
