@use 'src/assets/css/variables' as *;
@use 'src/assets/css/partials/gaps';
@use 'src/assets/css/partials/fonts';

.marker {
  position: absolute;
  right: 10%;
  bottom: 10%;
  cursor: pointer;

  @media (hover: none) {
    display: none;
  }

  @media (max-width: $screen-lg) {
    display: none;
  }
}

.checkpoint {
  @include fonts.font-xs;
  max-width: 200px;

  > * {
    &:nth-child(1) {
      color: rgb(187, 187, 187);
    }
    &:nth-child(3) {
      color: rgb(187, 187, 187);
    }
  }
}
