@use 'src/assets/css/partials/index' as *;

.positional-wrapper {
  position: absolute;
  display: none;
  justify-content: center;
  width: 100%;
  bottom: 10%;
  z-index: 1;

  &:not(.mobile) {
    @media (min-width: $breakpoints-lg + 1) {
      display: flex;
    }
  }

  &.mobile {
    margin-top: $gaps-gap-8;

    @media (max-width: $breakpoints-lg) {
      position: relative;
      display: flex;
      padding-top: $gaps-gap-8;
    }
  }

  .container {
    @include layout-content;

    .content {
      overflow: hidden;
      display: flex;
      flex-direction: row;
      background: white;
      color: black;
      width: 100%;
      box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);

      .icon {
        display: flex;
        justify-content: center;
        align-items: center;
        background: white;
        width: 80px;
        height: 80px;
      }

      .slider {
        overflow: hidden;
        width: 100%;

        .item {
          cursor: grab;
          flex-basis: 25%;
          flex-shrink: 0;
          display: flex !important;
          flex-direction: column;
          justify-content: center;
          padding: $gaps-gap-2;
          height: 80px;
          border-bottom: 2px solid transparent;

          &:hover {
            border-bottom: 2px solid black;
          }

          &:focus {
            outline: none;
          }
        }
      }
    }
  }
}
