@use 'src/assets/css/partials/index' as *;

.speaker-card {
  position: relative;
  display: flex;
  box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.1);
  margin-bottom: $gaps-gap-4;

  .thumbnail {
    padding: $gaps-gap-2;
    background: #F5F6F6;
    display: flex;
    align-items: center;

    img {
      width: 64px;
      height: 64px;

      @media (max-width: 400px) {
        width: 48px;
        height: 48px;
      }
    }
  }

  .details {
    display: flex;
    flex-direction: column;
    padding: $gaps-gap-4;

    .name {
      @include fonts-bold;
      @include fonts-sm-fixed;
      margin-bottom: $gaps-gap-1;
    }

    .role {
      @include fonts-xs-fixed;
      line-height: 1.1em;
    }

    .company {
      @include fonts-xs-fixed;
      line-height: 1.1em;
    }
  }

  .favorite {
    cursor: pointer;
    position: absolute;
    top: $gaps-gap-2;
    right: $gaps-gap-2;
  }
}

.filter {
  background: $colors-monochrome-2;

  /* Trick to get the background color to extend "outside" the container (fill all the way to the edge of the screen) */
  width: calc(100% + 32px);
  left: -16px;
  padding: 0px 16px;
  position: relative;
}

.list-container {
  margin-top: $gaps-gap-2;
  
  &.alphabet-sort {
    
    .speakers-letters {
      margin-top: $gaps-gap-2;
      display: flex;
      flex-direction: row;

      .speakers {
        flex-grow: 1;
      }

      .letters {
        flex-grow: 0;
        flex-shrink: 0;
        top: 0px;
        position: sticky;
        display: flex;
        flex-direction: column;
        
        button {
          position: relative;
          @include fonts-bold;
          @include fonts-sm-fixed;
          padding-left: $gaps-gap-3;
          padding-right: $gaps-gap-2;
          color: #BCBFCA;
          height: 20px;
          background: transparent;

          &.selected {
            color: $colors-main;
          }
        }
      }
    }
  }

  &.day-sort {
    .day-header {
      @include fonts-bold;
    }
  }

  &.track-sort {
    .track-header {
      @include fonts-bold;
    }
  }
}

.search {
  margin-top: $gaps-gap-4;
}