@use 'src/assets/css/partials/index' as *;

.alert {
  color: $colors-primary;
  padding: $sizes-size-8;
  display: flex;
}

.message {
  margin: 0 0 0 $sizes-size-8;
  width: 100%;
}

.right {
  float: right;
}

.dismiss {
  cursor: pointer;
}

.title {
  @include fonts-lg;
}

.success {
  @extend .alert;
  background-color: $colors-success-light;

  svg {
    fill: $colors-success;
  }
  .title {
    color: $colors-success;
  }
}

.error {
  @extend .alert;
  background-color: $colors-error-light;

  svg {
    fill: $colors-error;
  }
  .title {
    color: $colors-error;
  }
}

.warning {
  @extend .alert;
  background-color: $colors-warning-light;

  svg {
    fill: $colors-warning;
  }
  .title {
    color: $colors-warning;
  }
}

.info {
  @extend .alert;
  background-color: $colors-info-light;

  svg {
    fill: $colors-info;
  }
  .title {
    color: $colors-info;
  }
}

.light {
  @extend .alert;
  background-color: $colors-light-light;

  svg {
    fill: $colors-light;
  }
  .title {
    color: $colors-light;
  }
}
