@use 'src/assets/css/partials/index' as *;

.main {
  background-color: $colors-main;
}
.main-light {
  background-color: $colors-main-light;
}
.track-blue {
  background-color: $colors-track-blue;
}
.track-light-blue {
  background-color: $colors-track-light-blue;
}
.track-teal {
  background-color: $colors-track-teal;
}
.track-green {
  background-color: $colors-track-green;
}
.track-yellow {
  background-color: $colors-track-yellow;
}
.track-orange {
  background-color: $colors-track-orange;
}
.track-pink {
  background-color: $colors-track-pink;
}
.track-purple {
  background-color: $colors-track-purple;
}
.ef-green {
  background-color: $colors-ef-green;
}
.ef-blue {
  background-color: $colors-ef-blue;
}
.ef-beige {
  background-color: $colors-ef-beige;
}
.ef-pink {
  background-color: $colors-ef-pink;
}
.system-success {
  background-color: $colors-system-success;
}
.system-error {
  background-color: $colors-system-error;
}
.system-warning {
  background-color: $colors-system-warning;
}
.monochrome-1 {
  background-color: $colors-monochrome-1;
}
.monochrome-2 {
  background-color: $colors-monochrome-2;
}
.monochrome-3 {
  background-color: $colors-monochrome-3;
}
.monochrome-4 {
  background-color: $colors-monochrome-4;
}
.monochrome-5 {
  background-color: $colors-monochrome-5;
}
.monochrome-6 {
  background-color: $colors-monochrome-6;
}
.monochrome-7 {
  background-color: $colors-monochrome-7;
}
.monochrome-8 {
  background-color: $colors-monochrome-8;
}
.monochrome-9 {
  background-color: $colors-monochrome-9;
}
.monochrome-10 {
  background-color: $colors-monochrome-10;
}
