@use 'src/assets/css/variables' as *;
@use 'src/assets/css/partials/fonts';
@use 'src/assets/css/main';

.container { 
  svg { 
      fill: $color-primary;
  }
}

.header { 
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $gap-4 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);

  span { 
      @include fonts.font-xxl;
  }

  &:hover,
  &:focus,
  &:active {
    background: #F8F8F8;
  }
}

.active {
  @extend .header;
  background: #F8F8F8;
}

.body { 
  padding: $gap-8 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}