@use 'assets/css/partials/index' as *;

.filter {
  background: $colors-monochrome-2;
  padding-top: 12px;
  // padding-bottom: 12px;

  .foldout {
    position: relative;
    margin-top: 8px;
    align-items: center;

    .actions {
      display: flex;
      // margin-top: 12px;

      button {
        margin-left: 8px; 

        &:first-child {
          margin-left: 0px;
        }
      }
    }

    .foldout-content {
      .filter-section {
        margin-top: 16px;
      }

    }

    .right {
      // Have to absolutely position for reasons related to the foldout styling in the same container
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: space-between;
      right: 0px;
      top: 0px;
      left: 44px;

      .filter-indicator {
        @include fonts-xxs-fixed;
        @include fonts-bold;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      .end {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex-shrink: 0;
        margin-left: 8px;

        > * {
          margin-left: 8px;

          &:first-child {
            margin-left: 0px;
          }
        }
      }
    }
  }

  input {
    position: relative;
    display: flex;
    align-items: center;
    height: 36px;
  }
}