@use 'assets/css/partials/index' as *;

.space-between {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.snapshot-container {
  [data-type="snapshot-item"] {
    @include fonts-md;
    span {
      &:first-of-type {
        text-transform: none;
      }
    }
  }
}