@use 'assets/css/partials/index' as *;

.layout-default {
  min-height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;

  > :global(.header) {
    width: 100%;
  }

  > :global(.footer) {
    width: 100%;
    flex-shrink: 0;
  }
}
