@use 'src/assets/css/partials/index' as *;

.container {
  padding: $gaps-gap-8;

  :global(.content) {
    position: relative;

    * {
      max-width: 100%;
    }

    p {
      margin-block-end: $gaps-gap-4;
      margin-block-start: $gaps-gap-4;
    }
  }
}
