@use 'src/assets/css/partials/index' as *;

.colors {
  display: flex;
}

.colors > li {
  width: 40px;
  height: 40px;
  display: inline;
}

.bg-color-primary {
  background: $colors-primary;
}
.bg-color-secondary {
  background: $colors-secondary;
}
.bg-color-tertiary {
  background: $colors-tertiary;
}

.color-success {
  color: $colors-success;
}
.color-success-light {
  color: $colors-success-light;
}
.bg-color-success {
  background: $colors-success;
}
.bg-color-success-light {
  background: $colors-success-light;
}

.color-error {
  color: $colors-error;
}
.color-error-light {
  color: $colors-error-light;
}
.bg-color-error {
  background: $colors-error;
}
.bg-color-error-light {
  background: $colors-error-light;
}

.color-warning {
  color: $colors-warning;
}
.color-warning-light {
  color: $colors-warning-light;
}
.bg-color-warning {
  background: $colors-warning;
}
.bg-color-warning-light {
  background: $colors-warning-light;
}

.color-info {
  color: $colors-info;
}
.color-info-light {
  color: $colors-info-light;
}
.bg-color-info {
  background: $colors-info;
}
.bg-color-info-light {
  background: $colors-info-light;
}

.color-light {
  color: $colors-light;
}
.color-light-light {
  color: $colors-light-light;
}
.bg-color-light {
  background: $colors-light;
}
.bg-color-light-light {
  background: $colors-light-light;
}
