@use 'src/assets/css/variables' as *;
@use 'src/assets/css/partials/fonts';

.container {
  svg {
    fill: $color-primary;
  }
}

.header {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $gap-4 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);

  span {
    // RTD: @include fonts.font-xxl;
    @include fonts.font-lg;
  }

  &:hover,
  &:focus,
  &:active {
    background: #f8f8f8;
  }
}

.active {
  @extend .header;
  background: #f8f8f8;
}

.body {
  padding: $gap-8 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.category {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: $gap-4 0;

  h3 {
    @include fonts.font-lg;
    text-transform: uppercase;
  }
}

.collapse {
  cursor: pointer;
}
