@use 'src/assets/css/variables' as *;
@use 'src/assets/css/partials/fonts';

.header {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $gap-4 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);

  span {
    // RTD: @include fonts.font-xxl;
    @include fonts.font-lg;
    margin-right: $gap-2;
  }

  &:hover,
  &:focus,
  &:active {
    background: #f8f8f8;
  }
}

.icon {
  flex-shrink: 0;
}

.active {
  @extend .header;
  background: #f8f8f8;
}

.body {
  padding: $gap-8 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.category {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: $gap-4 0;
  cursor: pointer;

  h3 {
    @include fonts.font-lg;
    text-transform: uppercase;
  }

  svg {
    color: red;
    fill: red;
  }
}
