@use 'src/assets/css/variables' as *;
@use 'src/assets/css/partials/fonts';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

// Defaults
h1,
.h1 {
  @include fonts.font-tertiary;
  font-size: $size-16 + $size-8;
  line-height: 125%;
}

h2,
.h2 {
  @include fonts.font-tertiary;
  font-size: $size-16;
  line-height: 150%;
}

h3,
.h3 {
  @include fonts.font-tertiary;
  @include fonts.font-xl;
}

h4,
.h4 {
  @include fonts.font-tertiary;
  @include fonts.font-md;
}

.font-md {
  @include fonts.font-md;
}

.font-sm {
  @include fonts.font-sm;
}

.font-xs {
  @include fonts.font-xs;
}

.bold {
  @include fonts.bold;
}

.semi-bold {
  @include fonts.semi-bold;
}
