@use 'src/assets/css/variables' as *;

@mixin grid-12 {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 32px; //$size-16-px;
  // margin: $size-16; <--- probably too opinionated, just pad the grid instead in the context where it gets used
}

@mixin grid-6 {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  column-gap: 16px; //$size-8-px;
}

h5 {
  background: red;
}

.h5 {
  background: blue;
}
