@use 'src/assets/css/variables' as *;
@use 'src/assets/css/partials/layout';

.section {
  @include layout.section;

  .content {
    @include layout.content;
  }
}

.section-header {
  font-weight: 400;
  margin-bottom: 32px;

  @media (max-width: $screen-lg) {
    margin-bottom: 16px;
  }
}
