@use 'src/assets/css/partials/index' as *;

.video-card {
  &.slide {
    cursor: grab;
    margin-left: $gaps-gap-4;
    height: 100%;
  }

  .aspect-wrapper {
    position: relative;
  }

  &.horizontal {
    // And not [!vertical + max-width: $breakpoints-lg)]
    &:not(.force-vertical) {
      display: flex;
      flex-direction: row;
      position: relative;

      .aspect-wrapper {
        position: relative;
        flex-basis: 50%;
        flex-shrink: 0;

        :global(.aspect) {
          height: 100%;

          > img {
            object-fit: cover;
          }
        }
      }

      .body {
        flex-grow: 1;
        flex-shrink: 1;

        .title {
          overflow: hidden;
          -webkit-box-orient: vertical;
          display: -webkit-box;
          -webkit-line-clamp: 2;
        }
      }
    }
  }

  .body {
    padding: $gaps-gap-2 $gaps-gap-3 $gaps-gap-3 $gaps-gap-3;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-between;

    h4 {
      margin-top: $gaps-gap-1;
      margin-bottom: $gaps-gap-4;
    }

    .title {
      @include fonts-title;
      @include fonts-lg;
      margin-top: $gaps-gap-2;
      margin-bottom: $gaps-gap-4;
    }

    .description {
      @include fonts-sm;
    }

    .bottom {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;

      .speakers {
        overflow: hidden;
        -webkit-box-orient: vertical;
        display: -webkit-box;
        -webkit-line-clamp: 1;
      }

      :global(.label) {
        flex-shrink: 0;
        margin-left: $gaps-gap-2;
      }
    }
  }

  &.big {
    .body {
      padding-left: $gaps-gap-8;
      padding-top: $gaps-gap-4;

      .title {
        @include fonts-title;
      }

      .description {
        @include fonts-md;
      }

      h4 {
        margin-top: $gaps-gap-2;
        margin-bottom: $gaps-gap-2;
      }

      span.opaque {
        color: $colors-main-light;
        font-weight: 400;
      }
    }
  }

  &.sm {
    .body {
      padding-left: $gaps-gap-4;
      padding-top: $gaps-gap-2;

      @media (max-width: $breakpoints-lg) {
        // padding-left: $gaps-gap-2;
        padding: $gaps-gap-2;
        padding-top: 0px;
      }

      .title {
        @include fonts-md;
      }

      .description {
        @include fonts-xs;
      }
    }
  }
}
