@use 'src/assets/css/partials/index' as *;

@mixin compact-card {
  &.compact {
    .aspect-wrapper {
      flex-basis: 42%;
    }

    .body {
      padding: $gaps-gap-2;

      .title {
        margin: 0px;
        // @include fonts-sm-fixed;
      }

      .speakers {
        @include fonts-xs;
      }
    }
  }
}

.video-card {
  border: 1px solid $colors-monochrome-4;

  &.slide {
    cursor: grab;
    margin-left: $gaps-gap-4;
    height: 100%;
  }

  .aspect-wrapper {
    position: relative;

    .duration {
      position: absolute;
      right: $gaps-gap-2;
      bottom: $gaps-gap-2;
      width: auto;
      height: auto;
      top: auto;
      left: auto;
    }

    .edition {
      display: flex;
      position: absolute;
      left: $gaps-gap-2;
      bottom: $gaps-gap-2;
      width: auto;
      height: auto;
      top: auto;
      right: auto;

      > * {
        display: inline-flex;
        align-self: flex-start;
        margin-right: $gaps-gap-1;
      }
    }
  }

  &.horizontal {
    &:not(.force-vertical) {
      display: flex;
      flex-direction: row;
      position: relative;

      .aspect-wrapper {
        position: relative;
        // flex-basis: 30%;
        flex-basis: 250px;
        flex-shrink: 0;
        border-right: 1px solid $colors-monochrome-4;

        @media (max-width: $breakpoints-xl) {
          // flex-basis: 35%;
        }

        :global(.aspect) {
          height: 100%;

          > img {
            object-fit: cover;
          }
        }
      }

      .body {
        flex-grow: 1;
        flex-shrink: 1;

        .title {
          overflow: hidden;
          -webkit-box-orient: vertical;
          display: -webkit-box;
          -webkit-line-clamp: 2;
        }

        .description {
          @media (max-width: $breakpoints-xl) {
            overflow: hidden;
            -webkit-box-orient: vertical;
            display: -webkit-box;
            -webkit-line-clamp: 4;
          }

          @media (max-width: $breakpoints-md) {
            -webkit-line-clamp: 2;
          }
        }
      }

      @media (max-width: $breakpoints-lg) {
        .aspect-wrapper {
          // flex-basis: 42%;
        }

        .body {
          padding: $gaps-gap-2;

          .title {
            margin: 0px;
            @include fonts-sm-fixed;
          }

          .speakers {
            @include fonts-xs;
          }
        }
      }
    }
  }

  &.big {
    .body {
      padding-left: $gaps-gap-8;
      padding-top: $gaps-gap-4;

      .title {
        @include fonts-title;
      }

      .description {
        @include fonts-md;
      }

      h4 {
        margin-top: $gaps-gap-2;
        margin-bottom: $gaps-gap-2;
      }

      span.opaque {
        color: $colors-main-light;
        font-weight: 400;
      }
    }
  }

  &.compact {
    .aspect-wrapper {
      flex-basis: 42% !important;
    }

    .body {
      padding: $gaps-gap-2 !important;

      .title {
        @include fonts-sm-fixed;
        margin: 0px !important;
      }

      .speakers {
        @include fonts-xs;
      }
    }
  }

  .body {
    padding: $gaps-gap-2 $gaps-gap-3 $gaps-gap-3 $gaps-gap-3;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-between;
    cursor: pointer;

    &:hover {
      .title {
        text-decoration: underline;
      }
    }

    h4 {
      margin-top: $gaps-gap-1;
      margin-bottom: $gaps-gap-4;
    }

    .title {
      @include fonts-title;
      @include fonts-lg-fixed;
      margin-top: $gaps-gap-2;
      margin-bottom: $gaps-gap-4;
    }

    .description {
      margin-bottom: $gaps-gap-2;
    }

    .bottom {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;

      .type {
        @include fonts-xxs;
      }

      .speakers {
        overflow: hidden;
        -webkit-box-orient: vertical;
        display: -webkit-box;
        -webkit-line-clamp: 1;
      }

      :global(.label) {
        flex-shrink: 0;
        margin-left: $gaps-gap-2;
      }
    }
  }
}
