@use 'src/assets/css/partials/index' as *;

.share {
  display: flex;
  flex-direction: column;
  width: 600px;
  max-width: 100%;

  > * {
    @include gaps-responsive-gap($attribute: margin, $bottom: $gaps-gap-8, $min-gap: $gaps-gap-4);

    &:last-child {
      margin-bottom: 0px;
    }
  }

  > h2 {
    font-family: $fonts-primary;
    margin-right: 20%;
  }

  .buttons {
    display: flex;
    flex-direction: row;

    > a {
      width: 175px;

      &:first-child {
        margin-right: $gaps-gap-4;
      }

      > button {
        width: 100%;
        display: flex;
        justify-content: center;

        > svg {
          margin-right: 0.5rem;
        }

        &:first-child {
          margin-right: 20px;
        }
      }
    }
  }
}

.copy-to-clipboard {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding-top: $gaps-gap-4;
  display: flex;

  .link-text {
    display: flex;
    padding-left: $gaps-gap-4;
    padding-right: $gaps-gap-4;
    align-items: center;
    background: #f7f7f7;
    flex-basis: 70%;
    overflow: hidden;
  }

  .copy-button {
    flex-grow: 1;
    margin-left: $gaps-gap-2;
    min-width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.excited-for {
  > div {
    margin-top: $gaps-gap-3;
    display: flex;
    flex-wrap: wrap;

    > * {
      cursor: pointer;

      &:last-child {
        margin-right: 0px;
      }
    }

    > p {
      @include gaps-responsive-gap($attribute: margin, $right: $gaps-gap-16, $min-gap: $gaps-gap-4);
    }

    > button {
      @include gaps-responsive-gap($attribute: margin, $right: $gaps-gap-6, $top: $gaps-gap-2, $min-gap: $gaps-gap-2);
    }
  }
}
