@use 'src/assets/css/partials/index' as *;

.background {
  width: 100%;
  height: 100%;
  background-color: #fff;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: #fff;
  padding: $gaps-gap-6;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: $gaps-gap-4;
}

.dropdown {
  @media (min-width: $breakpoints-md) {
    display: none;
  }
}

.filter {
  @media (max-width: $breakpoints-md) {
    display: none;
  }
}

.content {
  flex: 1;
}
