@use 'assets/css/partials/index' as *;

.dip-container {
  [data-type=page-hero-title-block] {
    height: auto !important;
    min-height: auto !important;
    margin: 32px 0px;
  }

  .hero-title {
    font-size: 64px !important;
  
    @media (max-width: $breakpoints-md) {
      font-size: 32px !important;
    }
  }
}

.meta {
  display: flex;
  justify-content: space-between;

  > * {
    &:first-child {
      flex-basis: 50%;
      flex-grow: 1;
      flex-shrink: 0;
    }

    &:last-child {
      margin-left: 8px;
      flex-shrink: 0;
    }
  }

  [data-type=links] {
    font-size: 1.5rem !important;
  }
}

.nav {
  display: flex;
  justify-content: space-between;

  .next, .prev {
    display: flex;
    justify-content: center;

    svg {
      font-size: 0.9em;
    }
  }

  .next {
    @include fonts-sm; 
    svg {
      margin-left: 8px;
    }
  }

  .prev {
    @include fonts-sm; 
    svg {
      margin-right: 8px;
    }
  }

  > * {
    margin-bottom: 20px;
  }

  // > a {
  //   padding: $gaps-gap-4;
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  //   border: 2px solid black;
  //   background: white;
  //   margin-bottom: $gaps-gap-5;
  //   margin-top: $gaps-gap-5;
  //   @include fonts-sm;

  //   &:disabled {
  //     background: grey;
  //   }

  //   &:first-child {
  //     min-width: 56px;
  //   }

  //   &:last-child {
  //     > p {
  //       margin-right: $gaps-gap-3;
  //     }
  //   }
  // }
}

.header {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;

  @media (max-width: $breakpoints-lg) {
    flex-wrap: wrap;
  }

  .dip-number {
    display: flex;
    flex-direction: row;
    align-items: flex-start;

    > * {
      // line-height: 0;
      &:first-child {
        margin-right: $gaps-gap-1;
      }

      &:last-child {
        margin-top: -5px;
      }
    }
  }

  .title {
    flex-grow: 1;
    overflow: hidden;
    padding-left: 5%;
    padding-bottom: $gaps-gap-5;
    margin-top: -10px;

    @media (max-width: $breakpoints-lg) {
      padding-top: $gaps-gap-5;
      padding-left: 0%;
      order: 3;
    }
  }

  > * {
    &:first-child {
      flex-grow: 0;
      flex-shrink: 0;
    }

    &:last-child {
      flex-grow: 1;
      flex-shrink: 0;
      display: flex;
      justify-content: flex-end;
    }
  }
}
