@use 'src/assets/css/partials/index' as *;

.feed {
  height: 100%;
  padding: $gaps-gap-8;
  padding-bottom: $gaps-gap-4;
  box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.1);
  background: white;
  display: flex;
  flex-direction: column;
  color: $colors-monochrome-10;

  @media (max-width: $breakpoints-md) {
    box-shadow: none;
    background: none;
    padding: 0px;
  }

  .header {
    @include fonts-sm;
    text-transform: uppercase;
  }

  .body {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    max-height: 64px * 5;
    padding-right: $gaps-gap-5;
    overflow-y: auto;

    &::-webkit-scrollbar {
      width: 8px;
    }

    &::-webkit-scrollbar-track {
      background: rgba(0, 0, 0, 0.05);
    }

    &::-webkit-scrollbar-thumb {
      background: #c1c1c1;
      border-radius: 5px;
    }

    > a {
      flex-grow: 1;
      flex-shrink: 0;
      height: 64px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      display: flex;
      align-items: center;
      justify-content: space-between;

      &:last-child {
        border-bottom: none;
      }

      @media (max-width: $breakpoints-lg) {
        height: 64px;
      }

      @media (max-width: $breakpoints-md) {
        margin-top: $gaps-gap-2;
        align-items: flex-start;
      }

      .list-number {
        @include fonts-xl;
        flex-shrink: 0;
        font-family: $fonts-secondary;
        color: rgba(0, 0, 0, 0.25);
        margin-right: 25px;
        margin-left: $gaps-gap-2;
      }

      .date-handle {
        flex-shrink: 0;
        margin-right: 75px;

        .date {
          @include fonts-xs;
          font-family: $fonts-primary;
        }

        .handle {
          @include fonts-xxs;
          font-family: $fonts-primary;
          line-height: 100%;
          opacity: 0.5;
        }
      }

      .item-body {
        display: flex;
        flex-grow: 1;

        @media (max-width: $breakpoints-md) {
          flex-direction: column;
        }

        .title {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          font-family: $fonts-primary;
          @include fonts-md;
          @include fonts-bold;

          @media (max-width: $breakpoints-md) {
            margin-top: $gaps-gap-2;
          }
        }
      }
    }

    .icon {
      opacity: 0.25;
    }
  }

  .load-more {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 12px;
    padding-left: $gaps-gap-2;
    opacity: 0.25;

    > p {
      font-family: $fonts-primary;
      @include fonts-lg;
      @include fonts-bold;
    }
  }
}
