@use 'src/assets/css/partials/index' as *;

.hero {
  position: sticky;
  // "Pulls up" the entire section except for the page menu, effectively making it look like just the page menu is sticky
  top: var(--negative-offset, -1000px);
  z-index: 10;
  overflow: hidden;
  width: 100%;
  padding-top: $gaps-gap-4;
  border-bottom: 1px solid black;
  margin-bottom: $gaps-gap-10;
  background-repeat: no-repeat;
  background-position: center right;
  background-color: $colors-monochrome-1;
  background-image: var(--theme-logo),
    var(
      --theme-gradient,
      radial-gradient(
        73.15% 179.46% at 90.19% 25.94%,
        #00b3a4 0%,
        rgba(0, 255, 117, 0.4) 58.33%,
        rgba(203, 227, 214, 0) 100%
      )
    );

  // Strip is always present on mobile (but not on desktop) - we have to account for that:
  &.scrolled {
    @media (max-width: $breakpoints-lg) {
      top: calc(var(--negative-offset) + var(--strip-height));
    }
  }

  &.custom-background {
    border-bottom: none;

    .page-category {
      // Might be problematic depending on image colors
      color: white;
      // display: inline-block;
      // background-color: rgba($colors-monochrome-10, 0.2);
    }

    .title-block {
      opacity: 0;
    }
  }

  .backdrop {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;

    > img {
      position: absolute;
      right: 0px;
      bottom: -50px;

      @media (max-width: $breakpoints-lg) {
        max-width: 50%;
        height: 100%;
        bottom: 0px;
      }
    }
  }

  .about {
    @extend .backdrop;
    background: radial-gradient(
        73.15% 179.46% at 90.19% 25.94%,
        #88c43f 0%,
        #50d100 0.01%,
        rgba(140, 255, 0, 0.4) 58.33%,
        rgba(136, 196, 63, 0) 100%
      ),
      #ffffff;
  }

  .location {
    @extend .backdrop;
    background: radial-gradient(
        64.03% 140.53% at 90.8% 48.82%,
        #e55066 0%,
        rgba(242, 186, 44, 0.391893) 65.84%,
        rgba(250, 255, 7, 0) 100%
      ),
      #ffffff;
  }
}

.info {
  @include layout-content;

  .title-block {
    padding-top: $gaps-gap-16;
    min-height: 290px;
    padding-bottom: $gaps-gap-12;

    // > h1 {
    //   font-size: 9rem;
    // }

    .buttons {
      margin-top: $gaps-gap-5;

      > a {
        margin-right: $gaps-gap-3;

        > svg {
          @include fonts-xs;
        }

        > span {
          margin-left: $gaps-gap-2;
        }
      }
    }
  }

  .page-navigation {
    position: relative;
    top: var(--header-height);
    width: 100%;
    display: flex;
    padding-top: $gaps-gap-4;
    padding-bottom: $gaps-gap-4;

    > * {
      margin-left: $gaps-gap-6;

      &:first-child {
        margin-left: 0px;
      }
    }
  }
}
