@use 'src/assets/css/variables' as *;
@use 'src/assets/css/partials/gaps';
@use 'src/assets/css/partials/fonts';

@mixin nav-number {
  font-size: 10px;
  line-height: 1em;
  display: inline-block;
  font-family: $font-secondary;
  width: $gap-5;
  color: rgba(144, 152, 161, 1);
}

.layout-container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;

  @media (max-width: $screen-md) {
    flex-direction: column;
    padding-top: 64px;
  }

  .page-track {
    position: relative;
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    flex-wrap: nowrap;
    transition: transform 0.05s linear;
    margin-left: 64px;

    // If not using mouse, we just fall back to native scroll behaviour (i.e. swipe)
    @media (hover: none) {
      overflow: auto;
    }

    @media (max-width: $screen-md) {
      margin-left: 0px;
    }

    .page {
      position: relative;
      flex-basis: 100%;
      flex-shrink: 0;
      max-height: 100%;
      overflow: hidden;

      .layer {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        @include gaps.responsive-gap(
          $attribute: padding,
          $top: $gap-10 * 2,
          $left: $gap-10 + $gap-6,
          $right: $gap-10 + $gap-6,
          $bottom: $gap-10 * 4,
          $min-gap: $gap-10
        );

        .header {
          font-family: $font-secondary;
          flex-grow: 1;
          display: flex;
          justify-content: space-between;

          .page-title {
            font-family: $font-secondary;
            &:before {
              content: attr(data-index);
              @include nav-number;
            }
          }

          .background-text {
            font-size: $size-8 * 9;
            line-height: $size-8 * 8;
            > span {
              display: block;
            }
          }

          .links {
            display: flex;
          }
        }

        .content {
          border: 1px solid black;
          overflow: auto;
          height: 570px;
        }
      }
    }
  }
}
