@use 'src/assets/css/variables' as *;
@use 'src/assets/css/partials/gaps';
@use 'src/assets/css/partials/fonts';

@mixin nav-number {
  font-size: 10px;
  line-height: 1em;
  display: inline-block;
  font-family: $font-secondary;
  width: $gap-5;
  color: rgba(144, 152, 161, 1);
}

.layout-container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;

  @media (max-width: $screen-sm) {
    flex-direction: column;
    padding-top: 64px;
  }

  .page-track {
    position: relative;
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    flex-wrap: nowrap;
    transition: transform 0.05s linear;
    margin-left: 64px;

    // If not using mouse, we just fall back to native scroll behaviour (i.e. swipe)
    @media (hover: none) {
      overflow: auto;
    }

    @media (max-width: $screen-sm) {
      margin-left: 0px;
    }

    .page {
      position: relative;
      flex-basis: 100%;
      flex-shrink: 0;
      max-height: 100%;
      overflow: hidden;

      .layer {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        @include gaps.responsive-gap(
          $attribute: padding,
          $top: $gap-10 * 2,
          $left: $gap-10 + $gap-6,
          $right: $gap-10 + $gap-6,
          $bottom: $gap-10 * 4,
          $min-gap: $gap-10
        );

        .header {
          font-family: $font-secondary;
          flex-grow: 1;
          display: flex;
          justify-content: space-between;

          .page-title {
            font-family: $font-secondary;
            text-transform: uppercase;

            &:before {
              content: attr(data-index);
              @include nav-number;
            }
          }

          .background-text {
            font-size: $size-8 * 9;
            line-height: $size-8 * 8;            
            > span {
              display: block;
            }
          }

          .background-text-gradient { 
            @extend .background-text;

            background: conic-gradient(from 178.57deg at 60.56% 57.14%, #EDEFCF 0deg, #EDEDCE 24.56deg, #EEEBCC 51.02deg, #F3C4BA 102.55deg, #C5D4E4 137.2deg, #C5D8ED 169.68deg, #C5D7EA 170.39deg, #D9CDD2 202.5deg, #FF7852 265.36deg, #D4D1D8 328.41deg, #D4D3D9 339.22deg, #D3D7DA 360deg);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
          }

          .links {
            display: flex;
            text-transform: uppercase;

            h3 {
              margin-right: $gap-8;
    
              &:last-child {
                margin-right: 0px;
              }
            }

            svg { 
              height: 18px;
            }
          }

          .icon-link { 
            margin-right: $gap-2;
          }
        }

        .content {
          overflow: auto;
          height: 570px;
          box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.1);
          background: #fff;
          padding: $gap-6;
        }
      }
    }
  }
}
