@use 'src/assets/css/variables' as *;
@use 'src/assets/css/partials/gaps';
@use 'src/assets/css/partials/fonts';

$nav-width: 348px;

@mixin nav-number {
  font-size: 10px;
  line-height: 1em;
  display: inline-block;
  font-family: $font-secondary;
  width: $gap-5;
  color: rgba(144, 152, 161, 1);
}

.header {
  height: 64px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.navigation {
  position: fixed;
  height: 100%;
  width: 64px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  z-index: 1000;
  justify-content: space-between;

  @media (max-width: $screen-sm) {
    position: fixed;
    height: 64px;
    width: 100%;
    top: 0px;
    flex-direction: row;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    border-right: none;
  }

  &.open {
    .toggle {
      > * {
        &:nth-child(1) {
          display: none;
        }

        &:nth-child(2) {
          display: inline-block;
          font-size: 15px;
        }
      }

      &:hover {
        background: transparent;
      }
    }

    .foldout {
      transform: translateX(0%);
    }
  }

  .toggle {
    @extend .header;
    @include gaps.responsive-gap($attribute: padding, $gap: $gap-4, $min-gap: $gap-2);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    cursor: pointer;

    @media (max-width: $screen-sm) {
      width: 64px;
      font-size: 24px;
      border-bottom: none;
      order: 1;
    }

    > * {
      &:nth-child(1) {
        display: inline-block;
      }

      &:nth-child(2) {
        display: none;
      }
    }
  }

  .logo {
    width: 100%;
    @include gaps.responsive-gap($attribute: padding, $gap: $gap-4, $min-gap: $gap-2);

    @media (max-width: $screen-sm) {
      display: none;
    }

    img {
      width: 32px;
      user-select: none;
    }
  }

  .logo-mobile {
    display: none;
    @include gaps.responsive-gap($attribute: padding, $gap: $gap-4, $min-gap: $gap-4);
    justify-content: center;
    align-items: center;

    @media (max-width: $screen-sm) {
      display: flex;
    }

    > svg {
      height: 38px;
      fill: #2f354b;
    }
  }

  .backdrop {
    position: absolute;
    height: 100%;
    width: calc(#{$nav-width} + 100%);
    right: 0;
    background: white;
    z-index: -1;
  }

  .foldout {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    width: $nav-width;
    background: white;
    min-height: 100%;
    top: 0px;
    left: 100%;
    overflow: auto;
    z-index: -2;
    transform: translateX(calc(-100% + 1px));
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    transition: transform 0.15s linear;
    overflow: auto;

    > * {
      flex-shrink: 0;
    }

    @media (max-width: $screen-sm) {
      padding: $gap-4;
      width: 100%;
      min-height: auto;
      bottom: 0;
      top: 64px;
      position: fixed;
      transform: translateY(calc(-100% - 1px));
      border-right: none;
      left: 0px;
    }

    .header {
      @extend .header;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-left: $gap-5;
      padding-right: $gap-5;

      @media (max-width: $screen-sm) {
        display: none;
      }

      > svg {
        fill: none;
        font-size: $size-12;
        margin-top: -$size-4;
      }
    }

    .nav {
      @include gaps.responsive-gap($attribute: margin, $top: $gap-6, $right: $gap-4, $min-gap: $gap-2);
      padding-bottom: $gap-6;
      list-style-type: none;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);

      li {
        @include fonts.font-xl;
        position: relative;
        cursor: pointer;
        margin-bottom: $gap-6;
        line-height: 1em;
        vertical-align: text-top;

        &:last-child {
          margin-bottom: 0px;
        }

        &:before {
          content: attr(data-index);
          @include nav-number;
        }
      }
    }

    .links {
      margin-bottom: $gap-4;
      margin-top: $gap-2;
      margin-right: $gap-4;

      > a {
        display: inline-block;
        @include gaps.responsive-gap($attribute: margin, $gap: $gap-4, $min-gap: $gap-2);
      }
    }

    .nav-footer {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;

      > * {
        @include gaps.responsive-gap($attribute: margin, $gap: $gap-4, $min-gap: $gap-2);
        padding-bottom: $gap-4;

        &:nth-child(1) {
          border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        }

        &:nth-child(2) {
          border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        }
      }
    }
  }

  .inline-nav {
    display: flex;
    align-items: center;
    position: absolute;
    z-index: -3;
    bottom: 0;
    left: 100%;
    @include gaps.responsive-gap($attribute: margin, $left: $gap-10, $bottom: $gap-5, $min-gap: $gap-4);

    @media (max-width: $screen-sm) {
      display: none;
    }

    > svg {
      margin-top: -$size-4;
      width: $size-8;
      height: $size-8;
    }

    .inline-nav-list {
      display: flex;
      list-style-type: none;

      > li {
        cursor: pointer;
        @include nav-number;
        font-size: 12px;
        margin-left: $gap-3;
      }
    }
  }
}

.drag-to-continue {
  position: fixed;
  z-index: 100;
  color: rgba(0, 179, 164, 1);
  font-family: $font-secondary;
  right: $gap-4;
  bottom: $gap-4;
  text-transform: uppercase;
}
