@use 'src/assets/css/variables' as *;
@use 'src/assets/css/partials/fonts';

.container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  height: 100%;

  @media (max-width: $screen-md) { 
    flex-direction: column;
  }
}

.player { 
  flex-grow: 2;
  width: 100%;
  margin-right: $gap-4;

  @media (max-width: $screen-md) { 
    flex-grow: 1;
    flex-shrink: 0;
    margin-right: 0;
    margin-bottom: $gap-4;
  }

  @media (min-width: $screen-xl) { 
    flex-grow: 1;
  }
}

.wrapper {
  position: relative;
  overflow: hidden;
  padding-bottom: 56.25%;
}

.video-iframe { 
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.list {
  flex-grow: 1;
  overflow-y: auto;
  height: 100%;
  width: 100%;
  padding: 0 $gap-4 0 0;

  .item {
    cursor: pointer;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);

    span { 
      display: block;
    }
  }

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.05);
  }

  &::-webkit-scrollbar-thumb {
    background: #c1c1c1;
    border-radius: 5px;
  }
}

.devcon { 
  @include fonts.font-xs;
  line-height: 1.5rem;
  text-transform: uppercase;
}

.title { 
  @include fonts.font-lg;
  line-height: 1.5rem;
}

.speakers { 
  @include fonts.font-sm;
  display: block;
  margin: $gap-2 0;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.4);
}