@use 'src/assets/css/variables' as *;
@use 'src/assets/css/partials/fonts';

.tabs {
    display: flex;
    list-style-type: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);

    li { 
        // border: 1px solid #f00;\
        cursor: pointer;
        padding: $gap-6;
        color: #30354B;
        font-weight: bold;
        text-transform: uppercase;
        opacity: 0.5;
    }

    .active { 
        @extend li;
        opacity: 1.0;
        background: rgba(133,142,169,0.15);

        -webkit-box-shadow: inset 0px -2px 0px 0px #30354B;
        -moz-box-shadow: inset 0px -2px 0px 0px #30354B;
        box-shadow: inset 0px -2px 0px 0px #30354B;
    }
}

// .tab-content {
//     height: 550px;
//     overflow: auto;
// }