@use 'src/assets/css/variables' as *;
@use 'src/assets/css/partials/fonts';

.tabs {
    display: flex;
    list-style-type: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);

    li { 
        // border: 1px solid #f00;\
        cursor: pointer;
        padding: $gap-6;
    }

    a { 
        color: $color-primary;
        font-weight: bold;
        opacity: 0.5;
        text-transform: uppercase;
    }

    .active { 
        @extend li;
        background: rgba(133,142,169,0.15);

        -webkit-box-shadow: inset 0px -2px 0px 0px #30354B;
        -moz-box-shadow: inset 0px -2px 0px 0px #30354B;
        box-shadow: inset 0px -2px 0px 0px #30354B;

        a { 
            opacity: 1.0;
        }
    }
}
