@use 'src/assets/css/partials/fonts';
@use 'src/assets/css/partials/layout';

.strip {
  @include fonts.font-xs;
  width: 100%;
  color: var(--text-color, black);
  background: var(--header-background-color, white);

  .body {
    @include layout.content;
    display: var(--display-strip, flex);
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    margin: auto;
    height: var(--strip-height, 24px);
    padding-top: var(--strip-padding, 4px);
    padding-bottom: var(--strip-padding, 4px);
    opacity: var(--strip-opacity, 1);
    transition: height 0.3s, opacity 0.3s;
  }
}
