@use 'src/assets/css/variables' as *;
@use 'src/assets/css/partials/fonts';

.distribute-items {
  display: flex;

  > * {
    overflow: hidden;
    padding-left: $gap-4;
    padding-right: $gap-4;
    flex-basis: 0;
    flex-grow: 1;
  }
}

.column-header {
  padding: $gap-4;
  // padding-top: $gap-4;
  // padding-bottom: $gap-4;
}

.container {
  @include fonts.font-secondary;
  border-top: 2px solid rgba(0, 0, 0, 0.2);
  position: relative;

  .header {
    // position: sticky;
    // top: 60px;
    // background: $color-primary; //rgba(255, 255, 255, 1);
    // color: white;
    // --text-color: white;
    align-self: flex-start;
    @extend .distribute-items;

    .column-header {
      @include fonts.font-xs;
      @include fonts.bold;
      display: flex;
      align-items: center;

      &.sort {
        cursor: pointer;
      }

      // &.asc {
      //   > .sort {
      //     > * {
      //       &:first-child {
      //         --text-color: #ff0000;
      //       }
      //     }
      //   }
      // }

      // &.desc {
      //   > .sort {
      //     > * {
      //       &:last-child {
      //         --text-color: #ff0000;
      //       }
      //     }
      //   }
      // }

      .sort {
        margin-left: $gap-3;
        font-size: $size-4;
        display: inline-flex;
        flex-direction: column;
      }
    }
  }

  .row {
    @extend .distribute-items;

    background: white;

    &:nth-child(even) {
      background: #f8f8f8;
    }
  }
}
