@use 'src/assets/css/variables' as *;

.share {
  display: flex;
  flex-direction: column;
  width: 600px;
  max-width: 100%;

  > * {
    margin-bottom: $gap-8;

    &:last-child {
      margin-bottom: 0px;
    }
  }

  > h2 {
    font-family: $font-secondary;
    margin-right: 20%;
  }

  .buttons {
    display: flex;
    flex-direction: row;

    > a {
      width: 175px;
      
      &:first-child {
        margin-right: $gap-4;
      }

      > button {
          width: 100%;
          display: flex;
          justify-content: center;
    
          > svg {
            margin-right: 0.5rem;
          }
    
          &:first-child {
            margin-right: 20px;
          }
      }
    }
  }
}

.copy-to-clipboard {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding-top: $gap-4;
  display: flex;

  .link-text {
    display: flex;
    padding-left: $gap-4;
    padding-right: $gap-4;
    align-items: center;
    background: #f7f7f7;
    flex-basis: 70%;
    overflow: hidden;
  }

  .copy-button {
    flex-grow: 1;
    margin-left: $gap-2;
    min-width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
