@use 'src/assets/css/variables' as *;
@use 'src/assets/css/partials/grids';

.news-container {
  display: flex;

  @media (max-width: $screen-lg) {
    flex-wrap: wrap;
  }

  .cards {
    display: flex;
    margin-right: 32px;
    flex-basis: 50%;

    @media (max-width: $screen-lg) {
      flex-basis: 100%;
      margin-right: 0px;
      margin-bottom: 37px;
    }

    > * {
      flex-basis: 0;
      flex-grow: 1;

      &:first-child {
        margin-right: 32px;

        @media (max-width: $screen-lg) {
          margin-right: 43px;
        }
      }
    }
  }

  .feed {
    flex-basis: 50%;

    @media (max-width: $screen-lg) {
      flex-basis: 100%;
    }
  }
}
