@use 'src/assets/css/variables' as *;
@use 'src/assets/css/partials/grids';
@use 'src/assets/css/partials/fonts';

.news-container {
  display: flex;
  flex-direction: column;

  .body {
    display: flex;

    @media (max-width: $screen-lg) {
      flex-wrap: wrap;
    }

    .cards {
      display: flex;
      margin-right: 32px;
      flex-basis: 60%;

      @media (max-width: $screen-lg) {
        flex-basis: 100%;
        margin-right: 0px;
        margin-bottom: 18px;
      }

      > * {
        height: 410px;
        flex-basis: 0;
        flex-grow: 1;

        &:first-child {
          margin-right: 32px;

          @media (max-width: $screen-lg) {
            margin-right: 18px;
          }
        }
      }
    }

    .feed {
      flex-basis: 40%;

      @media (max-width: $screen-lg) {
        flex-basis: 100%;
      }
    }
  }
}
