@use 'assets/css/partials/index' as *;

.container {
  display: flex;
  position: relative;
  margin-bottom: 16px;

  &.with-subtext {
    .thumbnail-container {
      justify-content: space-between;
      flex-direction: column;
    }
  }

  .thumbnail-container {
    padding: 12px 8px;
    padding-bottom: 8px;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 80px;
    flex-shrink: 0;

    img {
      width: 56px;
      height: 56px;
    }

    .thumbnail-text {
      margin-top: 8px;
      @include fonts-xxs-fixed;
      @include fonts-bold;
      line-height: 1em;
    }
  }

  .children {
    flex-grow: 1;
  }
}
