@use 'assets/css/partials/index' as *;

.container {
  display: flex;
  position: relative;
  margin-bottom: 16px;

  .thumbnail-container {
    padding: 16px 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    flex-shrink: 0;

    img {
      width: 80%;
    }
  }

  .children {
    flex-grow: 1;
  }
}
