@use 'src/assets/css/variables' as *;
@use 'src/assets/css/partials/fonts';
@use 'src/assets/css/common/grids';

.card {
  padding: 32px;
  padding-bottom: 20px;
  background: white;
  box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.1);

  h3 {
    margin-top: 30px;
    font-family: $font-primary;
    @include fonts.font-xl;
    @include fonts.bold;
  }

  .date {
    @include fonts.font-xs;
  }

  .summary {
    margin-top: 18px;
  }

  .backlink {
    display: flex;
    justify-content: space-between;
  }

  .learn-more {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    padding-top: 13px;
    display: flex;
    justify-content: space-between;
  }
}
