@use 'src/assets/css/partials/index' as *;

.container {
  margin-bottom: $gaps-gap-10;

  a {
    // color: #88c43f;
    text-decoration: underline;
  }

  svg {
    fill: $colors-monochrome-10;
  }
}
