@use 'src/assets/css/partials/index' as *;

.blog-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: $gaps-gap-10;
  position: relative;

  .top-section {
    @include layout-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .cards {
    @include layout-content;
  }
}

.cards {
  display: flex;
  flex-direction: column;
  height: 100%;
  // overflow: hidden;
  // max-width: 100%;

  .card {
    &:not(.no-swipe) {
      cursor: move; /* fallback if grab cursor is unsupported */
      cursor: grab;
      cursor: -moz-grab;
      cursor: -webkit-grab;
    }
    height: 500px;
    margin-right: $gaps-gap-4;
    margin-bottom: $gaps-gap-4;
    background: white;

    @media (max-width: $breakpoints-lg) {
      height: 400px;
    }

    @media (max-width: $breakpoints-md) {
      height: 300px;
    }

    &.last {
      margin-right: 0px;
    }
  }
}

.arrow-button {
  --color-icon: white;
  background: black;
  padding: 8px;
  touch-action: none; // Prevent zoom when tapping button on mobile

  &:disabled {
    background: grey;
  }

  &:last-child {
    margin-left: 20px;
  }

  &:not(.always-buttons) {
    @media (max-width: $breakpoints-lg) {
      display: none;
    }
  }
}
