@use 'src/assets/css/partials/index' as *;

.strip {
  @include fonts-sm;
  position: relative;
  z-index: 20;
  display: flex;
  justify-content: center;
  // color: var(--color-icon, $colors-main);
  // background: var(--header-background-color, $colors-monochrome-1);
  background: $colors-monochrome-1;
  color: $colors-monochrome-10;
  --color-icon: #{$colors-monochrome-10};

  :global(#language-toggle) {
    @media (max-width: $breakpoints-lg) {
      display: none;
    }
  }

  @media (max-width: $breakpoints-lg) {
    background: $colors-ef-pink;
    color: #{$colors-monochrome-10};
    --color-icon: #{$colors-system-error};
  }

  &.hero {
    box-shadow: 0px 4px 2px rgba(0, 0, 0, 0.15);
  }

  &:not(.hero) {
    border-bottom: var(--strip-border, 1px solid rgba(0, 0, 0, 0.1));
  }

  .body {
    @include layout-content;
    display: var(--display-strip, flex);
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    height: var(--strip-height, 32px);
    padding-top: var(--strip-padding, 4px);
    padding-bottom: var(--strip-padding, 4px);
    opacity: var(--strip-opacity, 1);
    transition: height 0.3s, opacity 0.3s;

    .notification {
      display: flex;
      flex-direction: row;
      align-items: center;

      > svg {
        @include fonts-md;
        fill: none !important;
        stroke: var(--color-icon, $colors-main);

        @media (max-width: $breakpoints-lg) {
          @include fonts-lg;
        }
      }

      > * {
        margin-right: $gaps-gap-2;
      }
    }
  }
}
