@use 'src/assets/css/variables' as *;
@use 'src/assets/css/partials/gaps';
@use 'src/assets/css/partials/fonts';

.background {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-image: url('src/assets/images/participate_background.png');
  background-position: 85%;

  @media (max-width: $screen-md) {
    background-position: 0%;
  }
}

.container { 
  display: flex;
  flex-direction: column;
  width: 60%;
  height: 100%;
  background: linear-gradient(359.44deg, #3E4762 -7.43%, #A4ADC8 5.37%, rgba(203, 227, 214, 0) 28.49%), #FFFFFF;
  box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.1);

  @media (max-width: $screen-md) {
    width: 100%;
  }
}

.content { 
  height: 100%;
  width: 100%;
  padding: 0 $gap-6;
}

.footer { 
  width: 100%;
  padding: 0 $gap-8 0 $gap-6;

  a { 
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    padding: $gap-4 0 $gap-8 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include fonts.font-lg;
    @include fonts.semi-bold;
    color: #30354B;
    opacity: 0.5;

    svg {
      fill: #323232;
    }
  }
}

.marker {
  position: absolute;
  right: 28%;
  bottom: 0;
  cursor: pointer;

  @media (max-width: $screen-xxl) {
    right: 25%;
  }
  
  @media (hover: none) {
    display: none;
  }

  @media (max-width: $screen-lg) {
    display: none;
  }
}