@use 'src/assets/css/partials/index' as *;

.label {
  @include fonts-secondary;
  @include fonts-xxs;
  display: inline-block;
  padding: $gaps-gap-2;
  padding-top: $gaps-gap-1;
  padding-bottom: $gaps-gap-1;
  max-width: 100%;
  color: black;
  background: rgba(0, 0, 0, 0.1);

  &.error {
    color: rgba(174, 10, 10, 1);
    background: rgba(254, 239, 239, 1);
  }

  &.success {
    color: $colors-success;
    background: $colors-success-light;
  }
}
