@use 'src/assets/css/partials/index' as *;

.video-card {
  border: 1px solid $colors-monochrome-4;
  display: flex;

  &.slide {
    cursor: grab;
    margin-left: $gaps-gap-4;
    height: 100%;
  }

  .body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    padding: $gaps-gap-4;
    cursor: pointer;

    &:hover {
      .title {
        text-decoration: underline;
      }
    }

    @media (max-width: $breakpoints-md) {
      padding-top: $gaps-gap-2;
      padding-left: $gaps-gap-2;
      padding-right: $gaps-gap-2;
    }

    .title {
      @include fonts-title;
      @include fonts-lg-fixed;
      overflow: hidden;
      -webkit-box-orient: vertical;
      display: -webkit-box;
      -webkit-line-clamp: 2;

      @media (max-width: $breakpoints-lg) {
        @include fonts-md-fixed;
      }
    }

    .description {
      @include fonts-sm-fixed;
      margin-top: $gaps-gap-1;
      margin-bottom: $gaps-gap-1;
      overflow: hidden;
      -webkit-box-orient: vertical;
      display: -webkit-box;
      -webkit-line-clamp: 3;

      @media (max-width: $breakpoints-md) {
        -webkit-line-clamp: 2;
      }
    }

    .speakers {
      @include fonts-sm;
      margin-top: $gaps-gap-2;
    }
  }
}

.horizontal {
  @extend .video-card;

  @media (min-width: $breakpoints-lg + 1) {
    flex-direction: row !important;
    position: relative !important;

    .aspect-wrapper {
      object-fit: contain;
      border-right: 1px solid $colors-monochrome-4;
      flex-basis: 250px;
      flex-shrink: 0;
    }
  }
}

.compact {
  @extend .horizontal;

  @media (min-width: $breakpoints-lg + 1) {
    .body {
      padding-top: $gaps-gap-2;
      padding-left: $gaps-gap-2;
      padding-right: $gaps-gap-2;

      .title {
        @include fonts-md;
        -webkit-line-clamp: 2;
      }

      .description {
        display: none;
      }

      .speakers {
        overflow: hidden;
        -webkit-box-orient: vertical;
        display: -webkit-box;
        -webkit-line-clamp: 2;
      }
    }

    .aspect-wrapper {
      flex-basis: 200px;

      .labels {
        right: $gaps-gap-1;
        bottom: $gaps-gap-1;

        > * {
          margin-left: $gaps-gap-1;
        }
      }
    }
  }
}

.aspect-wrapper {
  position: relative;

  :global(.aspect) {
    height: 100%;

    > img {
      object-fit: cover;
      width: 101% !important; // Image bleed fix
    }
  }

  .labels {
    display: flex;
    position: absolute;
    right: $gaps-gap-2;
    bottom: $gaps-gap-2;
    width: auto;
    height: auto;
    top: auto;
    left: auto;

    @media (max-width: $breakpoints-md) {
      right: $gaps-gap-1;
      bottom: $gaps-gap-1;
    }

    > * {
      display: inline-flex;
      align-self: flex-start;
      margin-left: $gaps-gap-2;

      @media (max-width: $breakpoints-md) {
        margin-left: $gaps-gap-1;
      }
    }
  }
}
